[2013-07-05 12:14] coenjacobs opened #1 "Shouldn't identify users using custom vars"
The integration shouldn't be enabling custom variables like:

`['_setCustomVar', 3, 'username', 'free', 1],`

in order to track users, according to the policy:

From [Google Analytics Terms of Service](http://www.google.com/analytics/terms/us.html), chapter 7.

[2013-08-05 10:40] #1 closed, assigned to nobody

[2013-11-01 20:16] coenjacobs opened #2 "WooCommerce 2.1 version check"
Needs to check for minimum version of WooCommerce to be 2.1. If not, this integration needs to be disable, because the code will be still in the core plugin.

[2013-11-19 15:18] #2 closed, assigned to nobody

[2013-11-20 09:52] kloon opened #3 "Reword enable checkbox"
Currently the option to enable the tracking code reads Add to your site's footer, perhaps reword it to make it clear it is not a header/footer toggle but enable/disable

[2013-11-22 09:17] #3 closed, assigned to nobody

[2013-11-29 22:34] AIRomanRO opened #4 "Update Analytics Tracking Code to Support Display Advertising"
hello,
google offer in the analytics view the posibility so see reports as Demographics, Interests under Audience, but it seems that is neccessary a change in the code. For more details and explications you can consult the link https://support.google.com/analytics/answer/2444872?hl=en&utm_id=ad
and also in Google analytics.

so my propose is to add a new option for this tranking.

Thanks

[2013-12-09 10:48] mattyza opened #5 "Add support for Universal Analytics"
Universal Analytics is an updated analytics system within Google Analytics.

More information on this, here: https://support.google.com/analytics/answer/2790010?hl=en

[2013-12-11 12:56] coenjacobs opened #7 "Analytics should ignore prepaid conversions"
This might need some fixing in WooCommerce core as well, because it applies to reports too. Logging it here for further investigating.

Ref: https://woothemes.zendesk.com/agent/#/tickets/86785

[2014-02-14 14:47] lapatente opened #8 "Event tracking"
I use the plugin. My GA is fine tracking ecommerce transactions but no event tracking is recorded. Do I need to do something about it? Is there any documentation available?
Thanks.

[2014-02-17 10:15] #8 closed, assigned to nobody

[2014-02-17 10:19] #4 closed, assigned to coenjacobs

[2014-04-02 13:52] kmanasis opened #13 "A heads up would be nice"
Why on earth you removed the default woocommerce analytics integration and made it a seperate plugin? This should be mentioned with capital letters on your change log!!!!

[2014-04-14 08:22] #13 closed, assigned to nobody

[2014-04-14 08:24] #5 closed, assigned to coenjacobs

[2014-05-31 08:15] teomaragakis opened #16 "Does not work with google analyticator plugin."
If I am looking at this right, the integration plugin should work with any major 3rd-party analytics plugin but it doesn't seem so. Advice?

[2014-06-18 14:42] sawyerh opened #17 "Support Enhanced Ecommerce"
Reference: https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-ecommerce

This would replace ecommerce.js and give users [way more info](https://support.google.com/analytics/answer/6014857) on the ecommerce user flow.

[2014-06-23 19:26] kmanasis opened #19 "Google analytics prices before taxes issue"
Google analytics gets the prices before taxes. This is not helpful and messes up all the ecommerce reports.

March Prices
![8f104380-f47c-11e3-870c-751d7de7bc66](https://cloud.githubusercontent.com/assets/4113822/3362671/138a5aa2-fb0c-11e3-9217-83293cd536c6.png)

April Prices
![890bee08-f47c-11e3-9142-a4d89a44be85](https://cloud.githubusercontent.com/assets/4113822/3362676/21a9ea4e-fb0c-11e3-9ff4-

[2014-07-01 19:59] grish opened #20 "Add-Ons"
Is there a way to capture Add-ons as well.   We are using the woocommerce add-ons extension.  Any tips highly appreciated.

[2014-07-13 10:00] Aaron3 opened #21 "Index version and tag inconsistency breaks installing via composer/wpackagist."
The index.php uses v `1.1.0` but the release is tagged as `1.1` which breaks installing via composer and wp-packigist.org.

In the future, making ensuring the index version and tagged version are the same would fix the issue.

[2014-07-16 15:27] BFTrick opened #22 "Put Common Issues in FAQ"
Some people don't setup the plugin correctly and assume it doesn't work. We should add something like this to the FAQ:

**Why Isn't It Working?**
Have you set it up? You will need to go to: WooCommerce->Settings->Integrations to enter your GA ID.

You also need to set it up within Google Analytics. In Analytics > Admin at top of any page > Select Acct, Property, View > View Settings > Ecommerce Se

[2014-07-17 15:46] roberteinsle opened #23 "trackPageLoadTime();"
Hi,
can you add trackPageLoadTime to the next Version?

https://developers.google.com/analytics/devguides/collection/gajs/methods/gaJSApiBasicConfiguration?hl=en#_gat.GA_Tracker_._trackPageview

Robert

[2014-07-24 18:42] #22 closed, assigned to nobody

[2014-07-24 20:33] #23 closed, assigned to nobody

[2014-08-03 00:41] bthallplz opened #25 "Track Coupon Use"
Implement some way of tracking when a coupon code is applied, removed, and whether the coupon factors into the final order.

It seems that this information can be passed with setAction ( https://support.google.com/analytics/answer/6014845?hl=en, and an example [here](https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-ecommerce#transaction)), but I'm unsure whether yo

[2014-08-04 13:48] #20 closed, assigned to nobody

[2014-08-04 13:51] #21 closed, assigned to nobody

[2014-08-04 13:53] #25 closed, assigned to nobody

[2014-08-10 07:53] sebszocinski opened #27 "Not working but everything setup correctly?"
I have entered my GA ID in Settings, and enabled E-Commerce tracking and I'm getting this error notification from GA:

Missing Ecommerce Data
View xxxxxxx is configured for Ecommerce, but no data is flowing.

I have just noticed that my theme has Analytics embed code in the footer.php which has been filled out... could this be conflicting? should I remove this and only have the GA ID entered in Wo

[2014-08-11 14:27] #27 closed, assigned to nobody

[2014-08-17 22:31] #19 closed, assigned to nobody

[2014-09-02 20:35] BFTrick opened #28 "AdWords Referrals Show Payment Gateway"
We should be able to add the `utm_nooverride=1` parameter to the return url and have that affect all payment gateways.

https://www.en.adwords-community.com/t5/Tracking-Reporting/Why-is-Google-Analytics-saying-that-NONE-of-my-goals-ECommerce/m-p/280619#M9645

From: ZD 209889

This should arguable be included in WooCommerce core but we'll just put it here for now and we can eventually move it over

[2014-09-12 17:41] andreippo opened #29 "Tracking not working in child theme"
Hi,

I installed this plugin and it's working fine for my default Thank You page.

However for my customized Thank You page in my theme the tracking code isn't inserted.

Is there a way to enable this plugin for child themes?

Thanks a lot!

Regards,

Andy

[2014-09-12 17:46] #29 closed, assigned to nobody

[2014-09-22 16:36] #28 closed, assigned to nobody

[2014-09-22 16:51] BFTrick opened #30 "Put Google Analytics Code in Head"
The [GA setup instructions](https://support.google.com/analytics/answer/1008080?hl=en) say it should be in the head.

And we've had a few feature requests for this.
https://wordpress.org/support/topic/move-the-tag-inside-the-head

[2014-10-15 08:38] jnachtigall opened #32 "Duplicate code"
There is a lot of duplicate code in `includes/class-wc-google-analytics-integration.php` (already before my https://github.com/woothemes/woocommerce-google-analytics-integration/pull/31 ;-)

I think this really needs to be refactored in order to increase future maintainablity, e.g. there should be something like a `get_generic_ga_code()` function which returns just all the standard GA js code snip

[2014-11-11 16:52] #30 closed, assigned to nobody

[2014-11-11 20:37] #32 closed, assigned to nobody

[2014-12-03 21:05] asparrow opened #38 "PlugIn Not Working On My Site"
Since I installed this on my site all my previous analytic information is GONE and it is currently not collecting any data. I have flat line 0 across the board for 24 hours now.
![screen shot 2014-12-03 at 4 02 53 pm](https://cloud.githubusercontent.com/assets/8306541/5288787/173cfdf6-7b06-11e4-9943-6aebd77d48de.png)
 It does not even show real time users. I need help ASAP! I'm just hoping that my

[2015-01-18 19:45] tobyhage opened #39 "possibility to add custom dimensions"
Hello,

It would be nice if it is possible to use custom dimensions via this plugin.
Thanks in advance.

[2015-01-18 20:01] tobyhage opened #40 "Checkout labeling (Funnel steps)"
Hello,

Are the funnel steps defined in the google analytics settings used by the plugin?

[2015-01-25 23:34] itecedor opened #41 "No ecommerce conversions after upgrade to WC 2.2.10"
This plugin was working beautifully for us for months on [gothamquilts.com](gothamquilts.com), but after I upgraded the site to WooCommerce 2.2.10, no ecommerce conversions are showing in GA anymore. All other aspects of GA appear to be working correctly, but the ecommerce data doesn't seem to be going over.

[2015-02-22 02:10] zjwhitehead commented on #41
I guess they arent supporting this plugin anymore?

[2015-02-25 10:11] foxinni opened #43 "Integration Tab has no settings on it"
I installed the analytics integration plugin and when I navigate to the Integration tab there is no settings, just the save button.

Any ideas?

[2015-04-14 15:31] optiguy commented on #41
Free plugin - No support as they said.

[2015-04-20 20:30] cassidyclawson commented on #40
Same question!

[2015-06-23 15:43] mikejolley commented on #7
This is related to account funds I assume? @BFTrick thoughts on this?

[2015-06-23 15:44] #16 closed

[2015-06-23 15:45] mikejolley commented on #17
This is an enhancement @BFTrick wanted. Care to explain a little more?

[2015-06-23 15:46] mikejolley commented on #38
#41

[2015-06-23 15:46] #38 closed

[2015-06-23 15:47] mikejolley commented on #41
We'll check to ensure it's still working in 2.3/2.4.

[2015-06-23 15:48] mikejolley commented on #39
This should be logged on http://ideas.woothemes.com/forums/133476-woocommerce so we can judge interest please :)

[2015-06-23 15:48] #39 closed

[2015-06-23 15:49] BFTrick commented on #17
With enchanced e-commerce we should support:

* Impression data
* Product data (when added to cart and when checking out)
* Action data (purchase + refunds)
* Actions

We should still offer the option for legacy e-commerce reporting in case someone hasn't upgraded their account yet.

## Future

* Promotion data

[2015-06-23 15:49] mikejolley commented on #40
I don't think this is currently used. Only conversions are sent to google via thanks page. Please request on http://ideas.woothemes.com/forums/133476-woocommerce

[2015-06-23 15:49] #40 closed

[2015-06-23 15:51] BFTrick commented on #7
Yeah Accounts Funds & Deposits. Something we can look into but this was logged in 2013 and we haven't seen a ton of people require this.

[2015-06-23 15:51] claudiosmweb commented on #41
I'm using this integration with WooCommerce 2.3 and works really fine.

[2015-06-23 15:55] mikejolley commented on #41
ok. Lets just make sure what we have is robust as possible and works with all default core gateways.

[2015-06-24 17:08] justinshreve commented on #43
Hi @foxinni - I can't seem to reproduce this. Can you let me know which version of WooCommerce and which version of the Google Analytics plugin you are using?

[2015-06-25 16:12] justinshreve commented on #7
@mikejolley per the above comment - is this something we still want to look at right now, or wontfix unless we see a ton of other requests?

[2015-06-25 19:35] justinshreve commented on #41
I tested the integration with all of the core gateways (+mijireh) and I confirm that I see data inside GA.
It also looks like what we have for the standard eCommerce tracking is good. More robust tracking can come when #17 is handled. I'm closing this since things look good.

[2015-06-25 19:35] #41 closed

[2015-06-28 15:35] mikejolley commented on #7
I actually remember rewriting account funds to allow partial payment, so this issue may not even be technically possible. Lets leave it.

[2015-06-28 15:35] #7 closed

[2015-06-29 14:43] justinshreve commented on #43
Closing this since we can't produce + I don't see anything in the code that would cause this as long as the plugin is activated. If you are still having this issue, please let us know what versions you are using.

[2015-06-29 14:43] #43 closed

[2015-06-29 14:51] foxinni commented on #43
Hey,

I installed again now and seems to be working. Not sure what changed exactly. Thanks for the follow up.

[2015-06-29 16:22] justinshreve opened #46 "Track analytics settings if WC tracking is enabled"
[See the suggestion here](https://github.com/woothemes/woocommerce-google-analytics-integration/pull/45#issuecomment-116728066):

I think tracking both those settings makes sense and can help us clean up the UI in the future depending on actual usage.

[2015-06-30 11:38] mikejolley commented on #46
This is handled in the class: https://github.com/woothemes/woocommerce/blob/ecac3fba413afeaa7dc7c6ddd7d49cf4fc7e7b45/includes/class-wc-tracker.php

@kloon Do you have any recommendations for this? There are no filters, so would you just want these option values hardcoded in (if they exist, or if the plugin is detected)?

[2015-06-30 12:00] kloon commented on #46
You can hook into woocommerce_tracker_data filter and add your option via that, it will then automatically get picked up on our end and be added to the list of data being tracked for the site.

[2015-07-02 07:53] Rah1x opened #49 "google Analytics: Price amount is not tracked"
I have a site on `Wordpress` and its using `wooCommerce`. For the `Ecommerce tracking` in the `google Analytics`, I have used the additional plugin `WooCommerce Google Analytics Integration`
https://wordpress.org/plugins/woocommerce-google-analytics-integration/

Now the Ecommerce Tracking is going just fine, but its NOT picking the price / amount of the Orders and is always showing 0.0.

Since, i

[2015-07-03 10:02] #46 closed

[2015-07-03 10:54] #17 closed

[2015-07-03 12:47] mikejolley opened #51 "Group "Enhanced eCommerce" options"
Rather than show these checkboxes with the description:

"Requires Enhanced eCommerce."

I think it would be good to instead hide that description and use JS to only reveal the options when enhanced ecommerce is checked. Less options = Less scary settings pages.

[2015-07-07 15:22] justinshreve commented on #49
I'm not able to reproduce this on a clean install. Could you let me know which version of WooCommerce and WooCommerce Google Analytics Integration you are using?

Is this all products or does the order include a specific type of product (like a variable product for example)?

And to double check - when you go to GA, and then Conversions > eCommerce > Transactions, do you see the products in the or

[2015-07-08 07:54] Rah1x commented on #49
Thanks for looking into it. Here are the details:

WP: 4.2.2
WooCommerce Plugin: 2.3.13
WooCommerce Google Analytics Integration Plugin: 1.3.0
Currency used = PKR

And yea, at GA its always '0' at the revenue..

See this:
![1](https://cloud.githubusercontent.com/assets/841857/8565549/0d65a3cc-2570-11e5-845e-cdbd900bb34d.png)

[2015-07-08 10:41] #51 closed

[2015-07-16 11:03] Rah1x commented on #49
Hello? did you solve it yet?

[2015-07-27 14:06] justinshreve commented on #49
Hi Rah1x, sorry for the delay - I was out.

I did some more investigation, set my currency as PKR both in GA and in WooCommerce (using some code to add it to the currency selection), and did a few test transactions. I also tested a couple different versions and can't seem to reproduce the issue.

![](https://cldup.com/4JZDSdm3Ox-3000x3000.png)

My next question to help narrow this down - how are y

[2015-08-01 16:52] lkraav opened #54 "Increase compatibility with custom tracker variable names"
1.4.0-b1 currently has `ga()` hardcoded throughout. Most notably https://github.com/Yoast/google-analytics-for-wordpress/pull/115 changed the `ga` variable name to `__gaTracker`, so out of the box co-habiting won't work. The integration path could be as simple as making the tracker JS variable name output WP-filterable. Advanced integration, if deemed worthwhile, could include settings panel gaini

[2015-08-03 15:45] #54 closed

[2015-08-03 16:30] lkraav commented on #54
Floored in awe by the response time on this. There's only one way to reply. You had to know it was coming.
![](http://i.imgur.com/b2ny89e.gif)

[2015-08-03 19:00] lkraav commented on #51
Not sure if this is worth a new issue, but Enhanced E-commerce should be hidden if "Universal Analytics" is unchecked. As far as I can tell based on [link](https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-ecommerce), these states are mutually exclusive.

[2015-08-03 19:51] justinshreve opened #58 "Hide enhanced eCommerce settings if universal analytics is unchecked"
Enhanced eCommerce should be hidden if "Universal Analytics" is unchecked since universal analytics is required.

https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-ecommerce
https://github.com/woothemes/woocommerce-google-analytics-integration/issues/51#issuecomment-127370803

[2015-08-03 19:52] justinshreve commented on #51
Good point. I opened up a new issue for it and will work on that tomorrow. Thanks!

[2015-08-04 18:57] DaveLindberg opened #60 "Missing ecommerce transactions"
Just wanted to file an alert that our ecommerce tracking flatlined and stopped functioning on July 13. Similar in some respects to issue #41.

In testing the issue, after disabling the extension and re-enabling it, the transaction data resumed flowing properly back into GA. So we're good, but I wanted to file this as a possible heads up.

We're running v1.3.0,  which was last updated 9 months ago

[2015-08-05 10:53] #58 closed

[2015-08-10 20:13] justinshreve commented on #60
Did things continue to work after the upgrade to WC 2.3.13 or is it possible that the upgrade happened around when things broke on the 13th? Thanks for the comprehensive debug info, by the way.

[2015-08-18 13:30] DaveLindberg commented on #60
Possible the upgrade occurred around July 13, but I can't tell. Where can I find the system log?

[2015-08-18 19:26] justinshreve commented on #60
I don't think plugin updates log any data like that unfortunately. Thanks again for your info - I'll try to investigate if anything in WC 2.3.13 could have caused data to stop tracking in some instances.

[2015-08-20 17:45] buley opened #61 ""Can't use function return value in write context" fatal"
Saw this on activation, had to bail on the plugin:

lass-wc-google-analytics-js.php on line 95

[2015-08-25 18:41] khag7 opened #62 "PHP < v5.5 Fatal Error"
PHP Fatal error:  Can't use function return value in write context
File: /includes/class-wc-google-analytics-js.php - line 95 and line 205

[2015-09-14 08:02] SiR-DanieL opened #64 "Add tracking code option"
We have this option in the settings

![](http://cld.wthms.co/1jk70/3qdBXjmI+)

It does not make sense to me.
In `class-wc-google-analytics.php` check the method `tracking_code_display()`. It won't add any code if that option is disabled, so why do we say that you don't need to enable that if you are already using a 3rd-party analytics plugin?

Our code won't be added if that option is disabled.

[2015-09-16 13:49] #61 closed

[2015-09-16 13:49] #62 closed

[2015-09-16 14:01] justinshreve commented on #64
1.4 makes this setting clearer already with some updated descriptions, but basically that setting tells the GA plugin if we should show tracking on pages that are not eCommerce pages. So if you already have a plugin that tracks views, you can leave this off and our plugin will only handle eCommerce data. We still load our tracking code in other instances (is_checkout, etc).

[2015-09-16 15:50] SiR-DanieL commented on #64
@justinshreve I may be wrong, but I think that if that option is enabled then also the ecommerce code is not printed.

[2015-09-16 17:04] justinshreve commented on #64
In stable:

[Line 128](https://github.com/woothemes/woocommerce-google-analytics-integration/blob/1.3.0/includes/class-wc-google-analytics.php#L127) displays the eCommerce code if its the order received page and "Add eCommerce tracking code to the thankyou page" is enabled" so although the variable names are similar, one is standard tracking and one is eCommerce tracking.

[Line 138](https://githu

[2015-09-16 17:05] justinshreve commented on #64
BTW - For the "thank you" page, the code will only display once per user -- since it tracks an order being finished. So if you refresh or revisit the page later you won't see the tracking code.

[2015-09-16 18:11] justinshreve commented on #49
I haven't been able to reproduce this with PKR or any other currency. I'm going to close for now. However, if you are still experiencing issues please go to *WooCommerce > System Status > Get System Report* and email me the log at justin@automattic.com (don't post it here since it can contain sensitive info and this is a public repo).

[2015-09-16 18:11] #49 closed

[2015-09-16 18:14] justinshreve commented on #60
I've been unable to reproduce this and nothing immediately jumps out at me from your system information. If the link breaks again and you can note any circumstances which might be related (such as another upgrade around the same time) please reply here and let me know.

[2015-09-16 18:14] #60 closed

[2015-09-21 19:25] #64 closed

[2015-10-15 13:50] corsonr opened #66 "Missing revenues in GA"
A few people have been complaining about having a difference around 10 to 15% between revenues in GA and in WC.

I have no clue what could explain that. Any feedback on this would be great.

@BFTrick

https://woothemes.zendesk.com/agent/tickets/344152

[2015-10-15 17:35] BFTrick commented on #66
This integration uses JavaScript so if users have JS disabled those orders won't appear in GA. But that's 1-2% of users not 10-15%

Gonna need more information @corsonr

[2015-10-15 20:41] lkraav commented on #66
Thoughts on using Measurement Protocol instead? There's at least one plugin I know that's already doing this https://github.com/ronalfy/wordpress-gravity-forms-event-tracking/issues/6

[2015-10-20 07:35] corsonr commented on #66
I haven't said that 10-15% of users experience this issue, I said that the revenues difference between GA and WC is 10-15% ;-)

In other words 10 to 15% of transactions aren't sent to GooGle Analytics.

[2015-10-21 15:32] BFTrick commented on #66
I know at scale Google Analytics doesn't record everything but uses fancy math to predict sales / visits / etc from a sample. Does this happen to be on a really large site @corsonr ?

[2015-10-23 06:52] corsonr commented on #66
I just asked the customer to provide more details on sales volume @BFTrick

[2015-11-01 10:04] Niknation commented on #60
Hello! I seem to have a similar problem as the one @DaveLindberg has mentioned.

My ecommerce data has flatlined every since August 2015. I believe this coincides with when we updated wordpress.

My System Status data is shown below. @justinshreve is there any possible troubleshooting I could be doing to solve this?

### WordPress Environment ###

Home URL: https://www.resumewriter.sg
Site URL: ht

[2015-11-18 23:31] allendav commented on #66
See also this thread : https://wordpress.org/support/topic/ga-revenue-woocommerce-revenue-mismatched

[2015-11-18 23:38] allendav opened #68 "Add settings link to plugin actions"
Similar to how WooCommerce itself and many other integrations work, it would be awesome if this integration included a Settings link in its plugin actions.  I activated this plugin for the first time and had to dig around for a while to find where its settings were exposed.

e.g. a link to https:/{redacted}/wp-admin/admin.php?page=wc-settings&tab=integration

<img width="974" alt="screen shot 2015

[2015-11-24 11:06] mattyza opened #72 "Refresh the README file"
The `readme` file could use some beefing up, as it's quite empty and not very helpful.

[2015-11-27 13:10] mike3run commented on #66
I could think that people with AdBlock installed block tracking codes automatically hence the mismatch.

[2015-11-29 22:49] tnog commented on #66
One of our clients just noticed a larger discrepancy between their WC order info and the GA ecommerce data for the month of October. We're talking about a 25% difference on a total sales volume of +$40,000 for the month.

After further investigation, I noticed that we we're specifically missing orders for two products for which we created a custom thank you page. It seems that the GA script (they'

[2015-12-11 23:06] allendav commented on #66
@nabsul - would you take a look? - @tnog 's comment immediately above suggests at least one way the extension might miss sales

[2015-12-18 21:01] rmarpozo opened #74 "The plugin breaks my pages due to a malformed javascript when I activate Enhanced eCommerce"
This javascript breaks my pages

ga( 'ec:addProduct', {
  'id': '939',
  'name': 'Batamo',
  'category': 'Juegos de mesa/Juguetes',
  'position':
});

The position attribute is not well formed and that breaks the whole page.

Why is the position attribute empty?

Thanks

[2015-12-22 16:57] nabsul commented on #66
I've started working on a fix that could potentially get all the data to google, even if the user never goes to the thank you pages. There are still a couple of technical details about the javascript I need to figure out, but I should have a solution in the coming days.

[2016-01-04 17:38] BFTrick commented on #66
Hey @nabsul how is this coming?

[2016-01-08 15:51] nabsul commented on #66
I got stuck on how to properly test this, and then distracted by other issues. I'll probably get back to this early next week.

[2016-01-12 22:11] tnog commented on #66
Nabeel, have you thought using a server side solution instead of using
javascript for the event tracking? This would work without needing to
redirect to any specific page.
https://github.com/dancameron/server-side-google-analytics

-----------
Takahiro Noguchi
ph: +1 510.213.8252
skype: takahiro.noguchi

"...seek and learn to recognize who and what, in the midst of the inferno,
are not inferno, th

[2016-01-13 18:05] nabsul commented on #66
I *JUST* thought of that option a couple of days ago. I think you're right, this is the right way to do this.

[2016-01-31 13:39] alinpascaru opened #75 "503 Service Unavailable"
Hello,

I have installed the last versions of "Woocommerce" and "WooCommerce Google Analytics Integration".
In the "Integration" tab, when i press "Save", I'm getting the next error:

"503
Service Unavailable
The server is temporarily busy, try again later"

How can I fix it and save settings?

Have a good day!

[2016-02-05 16:52] dcoleonline opened #76 "Bounce Rate Changes When Plugin Is Activated"
A user is seeing distinct changes in bounce rate when the plugin is active vs inactive. They've reported the following after having it disabled for two weeks, and enabled for another two weeks:

**First Two Weeks (Plugin NOT Activated)**
- 46.4% on home page
- 47.24% on shop page
- between 45-75% for the product pages

**Last Two Weeks (Plugin Activated)**
- 19.89% on the homepage
- 19.61% on the

[2016-02-05 18:13] matt-h commented on #76
The plugin is not currently active on the site so I can't say for sure, but usually bounce rate issues are due to duplicate GA code on the site. Especially with the About page at 0% this would be my first guess.

Either the current code wasn't removed to be replaced by the plugin or the plugin wasn't configured properly to go along with it.

It also could have been events firing on page load as th

[2016-02-05 19:46] gp0 commented on #66
Any updates on this?

[2016-02-06 01:07] nabsul commented on #66
I don't have much more to report on this, except that the server-side approach is a feature of https://github.com/woothemes/woocommerce-google-analytics-pro so we probably don't want to implement it here (please confirm with @BFTrick).

It looks like the only thing we could do is figure out a way to generate the javascript for the custom thank-you pages, and not just the default. But this wouldn't

[2016-02-08 17:51] BFTrick commented on #66
Correct. For right now since we already have one implementation of the server side code let's keep it there. I don't think this is related to the 1-2% of users that don't have JS. I think there's something else going on.

[2016-02-08 20:10] nabsul commented on #66
The causes we have come up with are:
- User pays for item and never returns to the thank you page
- User returns to the thank you page, but it's set to a custom page that doesn't generate the JS that's needed to track the purchase

[2016-02-18 02:05] dillonbailey opened #77 "Preferred Setup in Enhanced ECommerce"
Hello!

In GA's enhanced ecommerce settings users are encourages to set checkout "steps" - depending on how the plugin is setup to trigger the steps we can provide useful labels.

For instance:

<img width="1160" alt="screen shot 2016-02-18 at 1 05 04 pm" src="https://cloud.githubusercontent.com/assets/1067872/13131545/44e5d912-d640-11e5-873f-bd116905dd2b.png">

We should provide the "funnel steps

[2016-03-01 11:40] mikejolley opened #78 "Identify products consistantly"
https://wordpress.org/support/topic/this-is-why-it-doesnt-work?replies=1#post-

@gedex @justinshreve

[code]

[2016-03-11 03:54] galbaras commented on #66
I have several kinds of discrepancies, which cannot be explained by the causes above. Specifically:

1. I track sales goals as visits to pages starting matching the regular expression "^/checkout/order-received/". There are more goal completions than transactions

2.  The number of sales goal completions is **higher** than the WC orders for the matching period

3. The number of transactions is **l

[2016-03-11 03:59] galbaras commented on #77
+1

[2016-03-11 04:06] galbaras opened #79 "Enhanced Ecommerce showing attributes, not categories for variable products"
When turning on Enhanced Ecommerce in GA, the Product Category (Enhanced Ecommerce) report shows product attribute values (e.g. "Size: 10") for some products (dresses), and the product category for others (e.g. bags).

This is likely due to the dresses being variable products with variations based on size. However, the product category should still be used for those.

[2016-03-30 18:57] ankit7 commented on #66
Ecommerce tracking seems to be not working for my stores.

[2016-03-31 02:10] galbaras commented on #66
@ankit7 perhaps you can elaborate a little on this? See some examples above.

[2016-04-12 19:08] shoheitanaka opened #80 "Not Activate Language file"
I make Japanese Language file in WordPress.org, so I set po and mo file.
But did not translate at Admin panel.

[2016-05-03 07:35] om4james opened #81 "Fatal Error when using Enhanced eCommerce Product Detail Views and WooCommerce [product] shortcodes"
If you have the "Product Detail Views" "Enhanced eCommerce" setting enabled, and you use a `[product id="x"]` shortcode on a WordPress page, a fatal error occurs:

`Call to a member function get_sku() on a non-object in wp-content/plugins/woocommerce-google-analytics-integration/includes/class-wc-google-analytics-js.php on line 445`

Also reported here: https://wordpress.org/support/topic/bug-conf

[2016-05-23 09:19] sboerrigter commented on #74
You can get around this bug by disabling "Product Impressions from Listing Pages" and "Product Clicks from Listing Pages". I know this is not the best solution, but it worked for me.

[2016-05-25 15:04] qfrery commented on #66
Hi @nabsul @BFTrick,

I can't find anything about a server-side approach here https://docs.woothemes.com/document/woocommerce-google-analytics-pro/
Are you sure it actually does that ?

Thanks

[2016-05-26 00:41] galbaras commented on #66
@nabsul @BFTrick any feedback on my reply from (OMG) March 11? I'd say that since the free plugin is there, it might as well work and let the pro version be used for extra stuff. In fact, assuming the pro plugin is maintained by the same team, this is a poor show of quality...

[2016-05-27 17:08] nabsul commented on #66
Sorry guys, I only briefly worked on this before being reassigned to another project. I haven't worked on the pro extension at all. I only got as far as identifying the two potential causes (comment Feb 8).

[2016-05-27 17:10] nabsul commented on #66
@gedex ?

[2016-05-30 09:57] #74 closed

[2016-05-31 16:18] BFTrick commented on #66
Hey @gedex

This won't solve the problem entirely - but is is possible to take care of this issue?

Some way for someone who uses a custom thank you page or something like that to still send data to GA?

This a hard issue to diagnose... the best way forward might be to have people submit support tickets with specific orders missing in GA but showing in WC. Then we can get admin credentials and loo

[2016-06-01 01:45] galbaras commented on #66
I think the issue will be a lot easier when someone who knows the code will guide us. Like I said before, I don't use a custom thank you page, but knowing where the plugin hooks into WooCommerce can help a great deal.

[2016-06-07 04:16] chrisblakley commented on #76
I've noticed that the plugin adds a `ga( 'send', 'pageview' );` to the bottom of the page. If you are sending a pageview outside of the plugin then you may be sending two pageviews to Google Analytics.

[2016-06-21 17:40] dkjensen commented on #66
@qfrery Check out the FAQ on the documentation - https://docs.woothemes.com/document/woocommerce-google-analytics-pro/#section-5

[2016-06-22 00:37] galbaras commented on #66
@dkjensen I may be blind, but I can't find any mention of server-side tracking there.

Either way, it doesn't solve the problem of mismatched reporting. If something is tracked, then the information for it should be available to all the Analytics reports and yield the same totals.

[2016-07-15 21:17] jnachtigall opened #84 "Undefined variable: ga_id"
I'm getting this on trunk:
`Notice: Undefined variable: ga_id in woocommerce-google-analytics-integration/includes/class-wc-google-analytics-js.php`

Looks like there's a missing
`$ga_id = self::get( 'ga_id' );`
in the current trunk.

I'd send a PR but I don't understand the purpose in https://github.com/woothemes/woocommerce-google-analytics-integration/blob/2371e03eeb22cf70ddd2dbce3651658bf52720

[2016-07-15 21:44] jnachtigall commented on #84
Ok, got it. The second line is just a filter ;) Since this is a no-brainer, I just added to the PR I did anyway.

[2016-08-09 11:25] mikkamp commented on #81
I've done some additional testing regarding this situation.
The product_detail section is only triggered on the following hook: woocommerce_after_single_product

So with a default install of WooCommerce this would only occur when using the shortcode `[product_page id="x"]`

Another prerequisite to trigger this bug is to have either related products or upsell products to show up.

When the product_

[2016-09-12 02:23] reason8910 commented on #75
Im having the same issue, everytime I try and same back-emd settings.
Wordpress 4.6.1 and WC 2.6.4

Note: Proudly powered by LiteSpeed Web Server

[2016-10-04 23:02] johnson5487 commented on #81
Any sort of ETA on when this will be fixed?

[2016-12-13 15:38] Tobias-Conrad opened #86 "lost authentification"
see post please. please discuss topic there, to find a solution
https://wordpress.org/support/topic/lost-authentification/#post-8547612

[2017-01-02 15:50] starflower commented on #77
Is this possible yet? Or what's the solution for this problem?

[2017-01-22 21:40] vguerrerobosch opened #87 "Suhosin default values cause plugin settings data loss"
When submitting plugin settings under Integrations, suhosin `post.max_array_index_length` default value 64 causes data loss on `$_POST` variable, because some array keys are too long (ex: `woocommerce_google_analytics_ga_enhanced_ecommerce_tracking_enabled` ).

Maybe shorter names would improve plugin compatibility with common server configurations.

[2017-04-25 12:36] WillBrubaker opened #88 "WooCommerce 3.0 compatibility"
Notices for
[code]
etc.

@roykho

[2017-04-27 14:41] jessepearson commented on #88
@mattyza

[2017-05-01 09:03] #78 closed

[2017-05-01 09:23] #88 closed

[2017-05-01 09:24] #68 closed

[2017-05-01 09:28] #81 closed

[2017-05-03 08:45] Babelfisch opened #93 "Missing Google Analytics ID"
After your last update, the plugin does't work, because there is a bug in `class-wc-google-analytics-js.php` line 234:

[code]

Variable `$ga_id` is nowhere defined and the ID is empty in the analytics code:

[code]

My workaround is this line before the upper line:

[code]

[2017-05-03 14:42] Babelfisch commented on #93
The bug is already reported ten months ago #84 with a PR but no one cares? 😠

[2017-05-03 21:45] petergullberg commented on #93
Thanks, it stopped working after this last update, and this fixed it...

[2017-05-04 00:13] shawaj commented on #93
Same problem here! How was this mission critical plugins not tested?

Comical and embarrassing for WooCommerce / WordPress

[2017-05-04 11:54] hertzdog commented on #93
Hi, same problem here. Thank you for your solution!

I think the file you are referring to is:

class-wc-google-analytics-js.php

(note the final js)

[2017-05-04 12:09] Babelfisch commented on #93
Oh, my mistake. `class-wc-google-analytics-js.php` is right and I changed it.

[2017-05-08 13:24] mitch827 commented on #93
unbelievable bug that got pushed live. Thanks for the fix.

[2017-05-09 08:35] braders commented on #93
This bug is also blocking me making a decision on whether on not to use this plugin for a site I am working on, so it would be great to have an indication of when this might be fixed.

It's unclear if any maintainers at WooCommerce/ Automattic have been notified of this issue, so I am just going to CC' in the most frequent recent contributors of this Repo, to see if we can move things forward: @bo

[2017-05-09 08:36] bor0 commented on #93
cc @mattyza for prioritization

[2017-05-09 11:16] #84 closed

[2017-05-09 11:16] #93 closed

[2017-05-15 05:33] virajsoni06 opened #96 "Call to undefined method WC_Product_Simple::get_id()"
Hi,
Since the last update(1.4.2) whenever I add anything to my cart, the page throws a Fatal error. It is caused only when this plugin is enabled.

Here's an image for the same.
![image](https://cloud.githubusercontent.com/assets/13236286/26043830/05d4a802-395e-11e7-8a2d-9f9c0df5f6d0.png)

Can we get this sorted out asap.

[2017-05-19 08:38] mattyza commented on #96
@virajsoni06 - Thanks for reporting this.

Based on the error message, I would assume you're using WooCommerce 2.6.x and not WooCommerce 3.0.x? Is that correct?

[2017-05-19 08:40] bor0 commented on #96
That's weird.

In 3.0:
`class WC_Product_Simple extends (WC_Product extends (WC_Abstract_Legacy_Product extends WC_Data))`, and `WC_Data` has a definition of `get_id`.

In 2.6:
`class WC_Product_Simple extends WC_Product`, and `WC_Product` has a definition of `get_id`.

[2017-05-19 08:57] virajsoni06 commented on #96
@mattyza The error is coming from a site where the Woocommerce version is 2.3.9

I have another installation with the same plugin version but the Woocommerce version is 2.6.14 and it works fine on it.

The site with Woocommerce version 2.3.9 wasn't causing any problems until before the last 2 updates. It was tracking data properly.

Can we add a conditional check to see if Woocommerce version is `

[2017-05-19 09:19] bor0 commented on #96
@virajsoni06 here is a patch that you can use to fix that instance: [productid.diff.zip](https://github.com/woocommerce/woocommerce-google-analytics-integration/files/1013704/productid.diff.zip)

Note that we're dropping support for WC versions lower than 2.6 throughout all of the extensions.

[2017-05-19 09:19] #96 closed

[2017-05-26 04:13] virajsoni06 opened #97 "Data mismatch with Woocommerce reports"
Hi,

I've been running this plugin on one of my client's website for few weeks now and when I compare the number of transactions and revenue for the same duration in Google Analytics and Woocommerce reports, the data does not math.
The revenue recorded by Google Analytics is  less, most of time. What could be the possible cause for this?

Possible reasons I think it could be because of either of t

[2017-06-01 16:39] hamzahali commented on #81
still getting
Fatal error: Call to undefined function monsterinsights_get_ua_to_output() in /home/mpristine/public_html/wp-content/plugins/woocommerce-google-analytics-proy/includes/class-wc-google-analytics-pro-integration.php on line 818

[2017-06-01 17:04] mikkamp commented on #81
@hamzahali That error looks like it's from the WooCommerce Google Analytics Pro plugin. That's a different plugin. For help with the WooCommerce Google Analytics Pro plugin I would suggest to contact WooCommerce Support at: https://woocommerce.com/contact-us/

[2017-06-01 20:23] lvl99 opened #98 "WC Google Analytics is not appearing in wp_head"
#### What I expected

Google Analytics to be inserted in my page within the wp_head hook.

#### What happened instead

Nothing

#### Steps to reproduce the issue

Add integration plugin to WooCommerce shop, fill in the integration's details, load the page.... nada

I tried to debug through PHPStorm and there's an `enabled` property in the WC Google Analytics object which is set to `no`. Where is t

[2017-06-01 20:31] lvl99 commented on #98
Further digging in leads to this block in the WC_Integration class:

[code]

On the WC_Google_Analytics class, there's no `$this->settings['enabled']` (but there is on the WC_Integration class a `$this->enabled` set to yes) so it is then set to `no`.

[2017-06-01 20:42] lvl99 commented on #98
Ah ha, it doesn't display the GA object if you have permissions to edit the options! No wonder Google Tag Assistant couldn't detect the UA block: because I'm logged in as an admin 👍

[2017-06-02 07:58] #98 closed

[2017-06-15 14:52] diggy opened #99 "Invalid gist URL in readme (opt-out snippet)"
* https://wordpress.org/plugins/woocommerce-google-analytics-integration/#faq
* https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/master/readme.txt#L57

[2017-07-12 06:57] ArturBumbu opened #100 "Http 500 when navigate to cart page"
![cart error](https://user-images.githubusercontent.com/18583482/28105787-f200e0ae-66d8-11e7-96f2-a4a9db1e376e.png)

#### What I expected
To see cart entries

When I add to basket any shopping items I expect when I got to cart to see the added items
#### What happened instead
the cart area is broken

To see cart entries
#### Steps to reproduce the issue
1. Go to website that has woocommerce shop
2

[2017-08-17 08:07] mattyza commented on #97
Hi @virajsoni06.

I'd say the second is most likely- orders being added through WP Admin.

Orders added through WP Admin aren't tracked by Google Analytics, as these don't involve the frontend at all and thus don't involve the conversion funnels, etc, which Google Analytics encourages.

[2017-08-22 11:53] BusinessBloomer commented on #97
Yes, if you're logged in as admin, the GA script is not output on the front-end

[2017-08-22 11:55] BusinessBloomer opened #101 "Missing "ga('send', 'pageview');""
Hi there, just wondering why:

`ga('send', 'pageview');`

does not get output together with the others

`ga('require',...)`

Is this going to cause a problem? Is it a bug?

This is the current script as output from the plugin:

[code]

Rodolfo

p.s. Also posted at https://wordpress.org/support/topic/gasend-pageview/

[2017-08-22 19:09] lukecav commented on #99
Looks like the reference Gist link account was deleted.

[2017-10-05 22:06] msdesign21 opened #102 "Enhanced ecommerce with gtag.js"
Today we had a customer interview with TinyFrog who said they would love to see the new eCommerce enhanced tag implemented "for tracking product interaction, product lists interaction, as well as order flow."

https://developers.google.com/analytics/devguides/collection/gtagjs/enhanced-ecommerce

Google docs describes this as:

Sounds like this could add a lot of value to eCommerce statistics. I'm

[2017-10-22 20:44] chrisgagne opened #103 "How to connect to Google AdWords?"
Hello,

Thanks for making this excellent plugin! I really appreciate it.

Is anyone using this for Google AdWords? I would like to pass commerce conversions to Google AdWords so that AdWords starts to do conversion tracking. Do you have any good practices for this?

Thanks! <3

[2017-10-23 02:32] emanweb commented on #103
You may want try this plugin: https://wordpress.org/plugins/woocommerce-google-adwords-conversion-tracking-tag/

[2017-10-26 08:54] jcdarocha commented on #100
Hi there!
I've got the same problem, apparently, this is from the woocommerce-google-analytic
s-integration plugin.
When i disable it, it works great.

Did you find any solution ?

Thank you,
Jean-Charles

[2017-10-26 09:01] jcdarocha opened #104 "Cart is not working // Fatal error: Uncaught Error"
Hi there,

My website has got woocommerce Version 2.4.5 and works great.
When i activate woocommerce-google-analytics-integration, the cart page bugs.

I've got this error message:

`Fatal error: Uncaught Error: Call to undefined method WC_Product_Variation::get_id() in **URL**/wp-content/plugins/woocommerce-google-analytics-integration/includes/class-wc-google-analytics.php:415 Stack trace: #0 /*

[2017-10-28 21:30] ArturBumbu commented on #100
Hi Jean,

Unfortunately not.

Good luck!

Artur

[2017-11-08 02:33] jaxne commented on #102
Thanks for posting this msdesign21.  I too am working with an online store that is using Monster Insights Pro with the ecommerce add-on.  However, it's using an older GA tracking code implementation and Google suggested using gtag.js instead too.  So now I'm waiting to hear back from Monster Insights or hopefully, SkyVerge will bring an update to the table with their WooCommerce GA tracking extens

[2017-11-09 17:16] teclanDesign opened #105 "Checkout Fatal Error: Cash on Delivery/Guest Checkout"
We're finding a situation where the checkout process hangs when completing an order (blank white screen, no order completion). A side effect of this results in order details being empty (no product total or qty, only the order total).

It only seems to happen when:

Customer checks out as a guest (no account, not logged in)
AND
Customer chooses Cash on Delivery as the payment method

Other payment

[2017-11-14 11:54] lvl99 commented on #99
+1

[2017-11-15 20:54] skaiblinger commented on #105
Got the same error.

Seems like `$order->get_product_from_item() ` was deprecated a while ago and got removed.

[2017-11-24 10:59] oflasmeric opened #106 "Difference between Adwords and Analytics"
Hi ALL,

Hope someone can help.
I've installed 2 different plugin on WP : Adwords tracking an Analytics tracking.
I've a big difference with : the number of order, and the amount was totally different.

Adwords return the great value, but cannont say the same for Analytics. I've a difference more than 40% !
The both plugin return to the same "thank you page".
Do you have an idea ? Someone can help

[2018-01-04 16:52] caljp opened #107 "Multiple Instances of click & pageview events"
Hi, I'm using the plugin across several sites and it's working great other than that the js output on my page is appearing 3 times on each page:

`$( '.add_to_cart_button:not(.product_type_variable, .product_type_grouped)' ).click( function() {
  | ga('send', 'event', 'Products', 'Add to Cart', ($(this).data('product_sku')) ? ($(this).data('product_sku')) : ('#' + $(this).data('product_id')));
  |

[2018-01-23 20:08] dominic-p opened #108 "Feature Request: Hook to Disable Tracking"
What do we think about adding a hook so other plugins can control whether the tracking is enabled in certain situations?

My use case is that I want to exclude my traffic from tracking. Unfortunately, I have several dynamic IPs, so I have written a plugin to periodically update my IPs. Now, I just need a way to disable tracking on traffic from those IPs.

I'm thinking we could simply wrap [this li

[2018-01-23 20:53] lkraav commented on #108
I think it makes more sense to block admin tracking at browser level. Private windows already block analytics by default, and there are several browser plugins to help, too. Like https://tools.google.com/dlpage/gaoptout

[2018-01-23 21:53] dominic-p commented on #108
Thanks for the feedback. I am currently trying to transition away from those strategies because I have found them cumbersome to manage:

- Every browser in the organization must have the extension installed
- Some mobile browsers don't support these extensions
- It's hard to remember to always use private windows
- Site [security headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) can

[2018-01-25 19:06] dominic-p commented on #108
Just to follow up on this. There could be other use cases for allowing plugins to control analytics tracking injection as well. For example, I could imagine some websites may want to disable tracking altogether in certain countries/regions for regulatory compliance.

[2018-03-05 17:08] laurendavissmith commented on #106
@oflasmeric We don't have any knowledge of the Adwords extension you are referencing. Can you give us more information on what the issue that you're seeing?

[2018-03-05 17:17] laurendavissmith commented on #86
We'll need information to look into this but it looks like you are needing assistance from the Pro extension which is a different repository.

[2018-03-05 17:17] #86 closed

[2018-03-05 17:21] laurendavissmith commented on #97
Closing, we can reopen if the issue remains

[2018-03-05 17:21] #97 closed

[2018-03-05 17:25] laurendavissmith commented on #75
Closing, please reopen if you still have issues with the latest WooCommerce

[2018-03-05 17:25] #75 closed

[2018-03-05 17:30] laurendavissmith opened #110 "Update the assets on .org"
We need to update the assets on the .org page for this extension. Images need updating and the text needs to be looked through for any missing or additional information.

[2018-03-05 17:33] laurendavissmith commented on #99
Closing since this will be fixed when we tackle #110

[2018-03-05 17:33] #99 closed

[2018-03-05 21:03] roykho commented on #87
After thinking more on this, if we change the setting name, it would affect existing sites that have this option either enabled or disabled. Not unless we do complicated checks like first check the old settings name if found, then use that and update the meta to the new "shorten" name...etc.

cc @laurendavissmith - do you want to go down that route?

[2018-03-05 21:13] laurendavissmith commented on #87
Hmm, what about using a filter to at least let it be easily overridden?

[2018-03-05 21:17] roykho commented on #87
Filter would not work here because it will still initially break people's site. So this is either fix or won't fix type issue. Fix would just mean we need to use hacky ways to get around this.

[2018-03-05 21:41] vguerrerobosch commented on #87
I would suggest checking for `extension_loaded('suhosin) && ini_get('suhosin.post.max_array_index_lenght < $length` and do filter in that case. You would not break current working sites and fix new ones or not properly configured.

[2018-03-06 11:15] Tobias-Conrad opened #112 "use Global Site Tag tracking to be compatible with free "Google Analytics Dashboard for WordPress""
Changelog is here:
https://deconf.com/adding-gtag-js-to-your-site/
From the changelog: If you’re using an Ecommerce tracking plugin, make sure the plugin supports the new Global Site Tag tracking code.

So i expect that you in free and paid version of woocommerce-google-analytics-integration
use Global Site Tag tracking to be compatible with free "Google Analytics Dashboard for WordPress".

Thank

[2018-03-06 20:35] laurendavissmith commented on #101
@BusinessBloomer The `ga('send', 'pageview');` is output in the footer not the header where GA is initialized since a pageview shouldn't be recorded until the user has had the page load

[2018-03-06 20:35] #101 closed

[2018-03-06 20:50] laurendavissmith commented on #107
@caljp I've been unable to reproduce this on my end. I see on your site that it's appearing in multiple locations within the footer as well. It is possible another extension you have installed is conflicting with the Google Analytics code. Closing for now but feel free to reopen if you have some steps we can follow to reproduce on our end.

If you can help us find some steps to be able to reproduc

[2018-03-06 20:56] laurendavissmith commented on #76
It could also be the order in which the GA code is loaded in the activated vs/ not-activated examples. There are too many variables at play here to fix anything within the extension itself.

Closing for now but we can reopen if this becomes larger issue

[2018-03-06 20:56] #76 closed

[2018-03-06 21:18] #104 closed

[2018-03-06 21:18] #105 closed

[2018-03-06 21:19] roykho commented on #100
Closed via master

[2018-03-06 21:19] #100 closed

[2018-03-06 21:19] roykho commented on #80
Closed via master

[2018-03-06 21:19] #80 closed

[2018-03-06 22:18] roykho commented on #87
There is no easy way to fix this other than perhaps an upgrade routine. Adding a filter will break sites that are currently on suhosin with limit removed. So for now we'll just document this to have users up the limit if they encounter such save errors.

We'll look more into this in a future major release so not to upset anyone's site.

[2018-03-06 22:18] #87 closed

[2018-03-07 22:05] #79 closed

[2018-03-07 22:07] laurendavissmith commented on #102
@msdesign21 this seems like it could be a duplicate of #77 or did you have something additional in mind?

[2018-03-07 22:26] laurendavissmith commented on #112
@Tobias-Conrad What are you looking for from gtag that isn't provided already from the analyticsjs implementation?

[2018-03-07 22:43] laurendavissmith commented on #107
After looking into this further I see other JavaScript being duplicated in your sites footer. It looks like `wp_footer` is being called twice somewhere in your theme possibly.

[2018-03-07 22:43] #107 closed

[2018-03-08 08:21] caljp commented on #107
Hi Lauren,

Ah sorry, my bad - thanks for taking the time to look into it.

Cal

[2018-03-08 10:45] bor0 commented on #106
From https://support.google.com/analytics/answer/1034383?hl=en:

E.g., specifically:

etc.

[2018-03-08 10:45] #106 closed

[2018-03-08 11:07] bor0 commented on #66
I confirm pro has server-side tracking. See:
https://github.com/woocommerce/woocommerce-google-analytics-pro/blob/bd8edf27701a34fc03702dcdf775770369a18cd4/includes/class-sv-wc-tracking-integration.php#L81-L237

For each of those event, we call `WC_Google_Analytics_Pro_Integration::api_record_event` which eventually calls `track_event` from Google's library.

[2018-03-08 11:07] #66 closed

[2018-03-08 11:15] #108 closed

[2018-03-08 14:48] laurendavissmith commented on #110
This would include making sure the plugin is compatible with latest version(s) of WP so we can remove the notice on the .org docs

[2018-03-09 09:09] bor0 commented on #112
As far as I understand this is a compatibility request with [Google Analytics Dashboard for WP](https://deconf.com/google-analytics-dashboard-wordpress/).

But I don't understand what needs to be done in order for them to be compatible? What issues are you running into?

[2018-03-09 09:26] bor0 commented on #110
Tested this extension and seems to be working fine with WP 4.9.4, latest WC master. No notices in error log.

Some tracking results:
<img width="1044" alt="screen shot 2018-03-09 at 10 24 16 am" src="https://user-images.githubusercontent.com/1620929/37200184-5470d3da-2384-11e8-8b75-19c44c9ed1f8.png">

I will be updating readme.txt to reflect compatibility.

[2018-03-09 09:44] bor0 commented on #112
I am working on implementing support for gtag.js in #102.

[2018-03-09 09:44] #112 closed

[2018-03-09 10:01] Tobias-Conrad commented on #102
thank you very much.
My idea is to make woocommerce tracking free and Premium plugin compatible with Google Analytics Dashboard for WordPress. (https://de.wordpress.org/plugins/google-analytics-dashboard-for-wp/)

[2018-03-09 10:24] bor0 commented on #103
Please read the following documentation. There is no need to put anything additional in the code.

https://support.google.com/adwords/answer/1704341
https://support.google.com/adwords/answer/7519537
https://support.google.com/analytics/answer/1033961
https://support.google.com/adwords/answer/2617364

[2018-03-09 10:24] #103 closed

[2018-03-09 12:26] budzanowski commented on #77
What this Enhancement is about https://support.google.com/analytics/answer/6014872?hl=en#cba

[2018-03-09 14:18] roykho commented on #110
@bor0 should we close this after the assets have been updated?

[2018-03-09 14:29] bor0 commented on #110
@roykho what assets? I thought it is only about confirming compatibility with latest WP?

[2018-03-09 14:32] bor0 commented on #110
Ok in that case we should also wait for gtag implementation as it will change Settings screen.

[2018-03-09 16:04] msdesign21 commented on #102
@laurendavissmith I don't know enough about the topic to say. Was just trying to relay feedback we heard in our customer interview. If it seems to be the same then I trust your lead.

[2018-03-09 19:17] laurendavissmith commented on #77
This functionality is already built into the Pro version of Google Analytics so to not duplicate those efforts we'll be leaving it out of the free version

You can view a comparison here: https://docs.woocommerce.com/document/woocommerce-google-analytics-pro-vs-free/

[2018-03-09 19:17] #77 closed

[2018-03-19 19:05] avivapinchas opened #115 "Include mention of GA Pro"
Users of our free GA integration might be looking for additional features they could find in the[ GA Pro version](https://href.li/?https://woocommerce.com/products/woocommerce-google-analytics-pro/). We should make it easy/obvious how to get that extension.

[2018-03-20 22:30] avivapinchas commented on #115
Design thoughts:
`Display a wp notice to inform folks about the upgrade path once they’ve reached X completed orders. X probably being something between 10 – 100.

[2018-03-21 13:24] bor0 commented on #115
@avivapinchas do you have some text that we can use for this?
E.g.
[code]

[2018-03-23 18:35] johndcoy opened #118 "Ecommerce data not tracked within GA"
#### What I expected

To see transaction data in Google Analytics dashboard under **Conversions > Ecommerce > Overview**. Currently only enhanced ecommerce data is shown.

#### What happened instead

Transaction and Ecommerce specific data is not being tracked.

#### Steps to reproduce the issue

1. Install and activate plugin
2. Add Google Analytics ID
3. Wait for propagation. :)
4. Go the Google

[2018-03-28 17:26] johndcoy commented on #118
Required Ecommerce view to be enabled in Google Analytics: https://docs.woocommerce.com/document/google-analytics-integration/#section-2

[2018-04-02 19:21] avivapinchas commented on #115
Sure thing - suggested copy:

`Learn more` should be a button that goes to: `https://woocommerce.com/products/woocommerce-google-analytics-pro/?utm_source=product&utm_medium=upsell&utm_campaign=google%20analytics%20free%20to%20pro%20extension%20upsell`

Note that I added UTM parameters there so we can track this traffic.

[2018-04-03 15:23] johndcoy commented on #118
@bor0 Looks like this is an issue. Can you please test PayPal and Stripe as well and view the "Today" view within Ecommerce > Overview

Thanks!

[2018-05-14 14:46] rouffj opened #119 "Why removing product line from cart page does not generate a GA Event?"
Hi everyone, thanks for your hard work for the integration of Google Analytics on WooCommerce.

I'm using WooCommerce 3.3.4, Wordpress 4.9 and PHP7.0.

#### What I expected

When I go to the "/cart/" page then update the number of articles or remove a product line I would expect that action sends to Google Analytics an event like "add to cart" or "remove from cart".

#### What happened instead

In

[2018-05-14 15:32] laurendavissmith commented on #119
@rouffj Do you have Enhanced Ecommerce enabled in the settings?

[2018-05-14 15:44] rouffj commented on #119
@laurendavissmith Yes Enhanced Ecommerce is enabled.

Working scenarios:
- When i add a product via the product listing (button 'Add to cart'), GA event is sent.
- When i remove a product via the cart overview on the header, GA event is sent.

Not working scenarios:
- When i remove a product from the cart page "/cart", GA event is NOT sent :(.
- When i update quantity of a product from the cart pa

[2018-05-14 15:46] laurendavissmith commented on #119
@rouffj thanks for the detailed report, i've marked it as a bug so we can take a look

[2018-05-14 16:07] rouffj commented on #119
@laurendavissmith Here is the steps to reproduce the failing scenario "When i remove a product from the cart page /cart, GA event is NOT sent":
1. Go to product listing
1. From product listing, add a product to cart via "Add to Cart" button
1. Go to cart page
1. (important step) Update quantity of a product from cart page and click "Update cart" button
1. (important step) without reloading the pag

[2018-05-17 05:02] ldr2273 opened #120 "GA reporting duplicate sales"
1163667-zen
1423824-zen

Google Analytics (https://woocommerce.com/products/woocommerce-google-analytics/) is recording duplicate sales from WooCommerce. Here's an example: https://snag.gy/PXLQUZ.jpg. The quantity should be "1" and amount "$39.95."

This seems to be happening randomly, and one possible theory that came up was that the duplicate logging was occurring when customers visit the Order

[2018-05-17 08:03] mattyza commented on #120
@ldr2273 - nothing jumps to mind, unfortunately. Pinging in @laurendavissmith on this as well.

[2018-05-17 21:38] laurendavissmith commented on #120
I'm not aware of any code to prevent that so that could possibly be what's going on, I've labeled it as a bug so we can take a look.

[2018-05-17 22:27] ldr2273 commented on #120
Thanks! Very curious about this 👍

[2018-06-04 10:13] AndreiIgna opened #121 "Problem when jQuery is not yet loaded on page"
We use the plugin on a few websites and noticed a issue on the ones with more aggressive cache rules. When JS is loaded deferred, the plugin produces this error

<img width="358" alt="screen shot 2018-06-04 at 12 02 01" src="https://user-images.githubusercontent.com/263021/40911707-d9f46d1e-67ef-11e8-8b87-d332494fc896.png">

Most of the functionality still works, there are a few actions which are

[2018-06-04 23:12] srakl opened #122 "Can't enable Enhanced eCommerce"
Hi, i've got everything setup for this plugin, but can't seem to enable the "Enable Enhanced eCommerce"

Everytime i check it and save, when the page refreshes it's unchecked again.
I already followed the steps here https://support.google.com/analytics/answer/1009612?hl=en under "Enable Ecommerce for a view" too.

The other plugin i have installed is the "Google Analytics Dashboard for WP (GADWP)"

[2018-06-05 15:30] laurendavissmith commented on #122
I'm not seeing that issue on my end, what version of WooCommerce and WordPress are you running?

[2018-06-05 18:45] srakl commented on #122
Sorry forgot to include that info. Here it is
![untitled](https://user-images.githubusercontent.com/3472875/40996094-90dd0eca-6933-11e8-8197-f4bd69fc0c25.png)
![untitled2](https://user-images.githubusercontent.com/3472875/40996102-9484a54c-6933-11e8-9c5a-642d20127768.png)
![untitled3](https://user-images.githubusercontent.com/3472875/40996114-9880b672-6933-11e8-8f18-acc0799b0aa5.png)

[2018-06-11 13:51] Danw33 commented on #121
**+1**

We're also having this issue as our JS is deferred too.

With other plugins, we have overcome this by using `add_filter` with `str_replace` to filter each inline-script output that requires jQuery, and wrapping the script with a `DOMContentLoaded` event listener before returning it, a little bit like this:

[code]

This _could_ work for the WooCommerce GA plugin too, if the script outputs

[2018-06-27 15:59] johndcoy commented on #122
@laurendavissmith I was not able to replicate this. The plugin is working. You'll see here GA recognized that I added a product to the cart, including the product price.

![Screenshot](http://cld.wthms.co/tFKIWM+)
Image Link: http://cld.wthms.co/tFKIWM

Viewing the Ecommerce Overview data showed the same information.

![Screenshot](http://cld.wthms.co/1rDL35+)
Image Link: http://cld.wthms.co/1rDL3

[2018-06-27 15:59] #122 closed

[2018-06-29 20:55] dominic-p opened #124 "Fatal error on Thank You page with invalid order ID"
#### What I expected

A blank order received page.

#### What happened instead

Fatal PHP error.

#### Steps to reproduce the issue

Visit the order received page with an order ID that doesn't exist. For example:

http://www.example.com/checkout/order-received/999999/

I found the code that is responsible, and a PR is incoming.

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Is

[2018-06-30 00:14] #124 closed

[2018-06-30 02:47] kevin25 opened #126 "Backend down"
After pull the latest version from github, my backend was down.

[2018-06-30 04:07] roykho commented on #126
Please try master now.

[2018-06-30 04:07] #126 closed

[2018-07-02 17:53] zwiesman31 commented on #102
I see this had a PR over 3 months ago. Any update on an ETA for implementation of this @bor0? Thanks!

[2018-07-02 17:58] bor0 commented on #102
@zwiesman31 this had a PR which needs some testing, but I don't know how it will stand with our current priorities on our roadmap, given that this was a hack week project.

cc @laurendavissmith @avivapinchas for more details

[2018-07-05 09:39] #115 closed

[2018-07-09 10:51] madeincosmos commented on #118
@woocommerce/extendables can someone look into this? I'm unable to see any e-commerce stats at all on my Google Analytics account. Here is the Real-time tab:

![Screenshot](http://cld.wthms.co/C9nbHJ+)
Screenshot: http://cld.wthms.co/C9nbHJ

And here is **Conversions > E-commerce**:

![Screenshot](http://cld.wthms.co/RlyzVr+)
Screenshot: http://cld.wthms.co/RlyzVr

[2018-07-12 17:26] Pasteo2018 opened #127 "Fatal error: Call to undefined function session_status()"
Hi,
from this afternoon my site is down ... he gives me the following error:

Fatal error: Call to undefined function session_status() in /web/htdocs/www.giansport.it/home/wp-content/plugins/enhanced-e-commerce-for-woocommerce-store/includes/class-wc-enhanced-ecommerce-google-analytics-integration.php on line 35

my PHP version: 5.3.29

Thanks for help

[2018-07-12 17:32] roykho commented on #127
I believe you're posting this in the wrong repo. You're probably looking for these folks here https://wordpress.org/plugins/enhanced-e-commerce-for-woocommerce-store/

[2018-07-12 17:32] #127 closed

[2018-07-12 17:49] Pasteo2018 commented on #127
ok ... I'm sorry

[2018-07-13 14:18] johndcoy commented on #118
@madeincosmos  I tested this with Amazon Pay using incognito (not logged into the WP Admin ) and I was not able to replicate any problems. You’ll see here GA recognized that I added a product to the cart, including the product price.

http://cld.wthms.co/tFKIWM

Viewing the Ecommerce Overview data showed the same information.

http://cld.wthms.co/1rDL35

So I guess the Ecommerce data in Google Ana

[2018-07-13 22:23] budzanowski commented on #118
I have tester it. Everything works. I see all the data as long as I make actions as non wp-admin user. Then waiting a bit is required for the GA panel to be up to date. Looks like we can close this?

[2018-07-18 08:13] budzanowski commented on #118
@pedroapfilho could you check your site using https://chrome.google.com/webstore/detail/tag-assistant-by-google/kejbdjndbnbjgmefkgdddjlbokphdefk as a logged out user. Make some transactions and record ( using chrome plugin ) what GA plugin is dong.

[2018-07-18 16:19] budzanowski commented on #118
It works for me
![image](https://user-images.githubusercontent.com/17271089/42894102-52e2c52a-8ab6-11e8-9242-732e977d311e.png) both as logged out and as a logged in customer. The chrome plugin is the fastest way of checking.

[2018-07-18 20:31] pedroapfilho commented on #118
Seems that this only occur when the payment method makes the user leaves the page, like PayPal...

When the user pays with some transparent checkout payment method, it appears on the Analytics.

[2018-07-18 20:51] budzanowski commented on #118
The requirement for the payment to work is outlined in the documentation in the following way:

@pedroapfilho Is your Paypla plugin redirecting back to the `thank you/order received` page?

[2018-07-19 09:42] pedroapfilho commented on #118
@budzanowski, idk if it's obligatory to return to the page, I think that the user can just go away after he pays at PayPal (I'm using PayPal Standard)

I got it, it was working into a few days ago, but now seems that all customers are going away after they pay the order (maybe something at the PayPal page).

You can close this issue (for me, at least)

[2018-07-23 20:12] laurendavissmith commented on #118
Closing since it sounds like this is resolved now but we can reopen if anything comes up

[2018-07-23 20:12] #118 closed

[2018-08-07 14:40] leemason commented on #121
+1

@laurendavissmith / @mattyza / @bro0 is this on anyone's radar, it's been two months since the issue was opened?

If not, might a PR be accepted changing the scripts to be vanilla JS that are filterable?

[2018-09-03 10:11] Honeylou opened #128 "Credit Card Payments"
#### What I expected

Via Credit Card / Debit Card payments are not being recorded under Conversions > Sales Performance on Google Analytics.

#### Steps to reproduce the issue

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2018-09-18 16:10] amandasjackson commented on #120
@woocommerce/extendables Adding 1423824-zen as it sounds like they are experiencing the same issue. They have narrowed it down to `most duplicate hits from mobile and tablet and a majority of them are from PayPal`

[2018-10-05 18:15] jmock commented on #121
Having the same issue. I just filed a ticket with Woo about it before I found this, but since this has been sitting here with no response since June, I guess I'm not really expecting much :/

[2018-10-08 09:42] bor0 commented on #121
@leemaon feel free to open a PR, I'll be happy to review it. AFAIK, this is low on our (big) priority list.

[2018-10-08 09:42] bor0 commented on #121
@leemason feel free to open a PR, I'll be happy to review it. AFAIK, this is low on our (big) priority list.

[2018-10-24 14:52] zwiesman31 opened #129 "wc_orders_count Fatal Error"
#### What I expected

Updating to version 1.4.5 goes smoothly.

#### What happened instead

When a user updates to 1.4.5, some of them are getting fatal errors like this:

![http://cld.wthms.co/6Dw10m](http://cld.wthms.co/6Dw10m+)
Image link: http://cld.wthms.co/6Dw10m

Here are cases where this is happening:

* 1515672-zen
* https://wordpress.org/support/topic/fatal-error-on-latest-update-5/
* ht

[2018-10-24 15:01] laurendavissmith commented on #129
Upgrading to critical

[2018-10-25 20:32] c-shultz commented on #129
I could not reproduce the error as described. The 1.4.5 release added a call to `wc_orders_count` so the change seems related to the issue that's being described. That being said the `wc_orders_count` function is a WooCommerce resource that should be available as soon as WooCommerce loads. It works totally fine on my end. The only way I found to simulate the issue was to deactivate WooCommerce.

T

[2018-10-25 20:39] c-shultz commented on #129
https://github.com/woocommerce/woocommerce/issues/21676 looks somewhat similar to this issue.

[2018-10-25 21:10] c-shultz commented on #129
@superdav42 made an excellent observation that this could be occurring if an upgrade resulted in WooCommerce being deactivated. Since google-analytics 1.4.5 will cause a fatal failure without WooCommerce, a workaround for this situation would be to:

1. Temporarily rename the `woocommerce-google-analytics` plugin folder to restore site.
2. Reactivate WooCommerce
3. Restore the folder name to `wooc

[2018-10-26 17:05] laurendavissmith commented on #129
@zwiesman31 can you see if this may be the issue

[2018-10-29 17:44] #129 closed

[2018-11-01 17:58] zwiesman31 commented on #129
@laurendavissmith I asked on the ticket and two .org posts but haven't gotten a reply yet.

Just asked for updates.

[2018-11-15 14:32] mikkamp opened #132 "Add to cart JavaScript is included right after the add to cart link"
In the function `listing_click`, the JavaScript is echo'd to the page instead of being enqueued. This can cause some theme compatibility issues. In this case a problem with the JavaScript showing up in tooltips, see: https://wordpress.org/support/topic/code-leak-on-tooltips/

I'd suggest to use `wc_enqueue_js` instead, which is the same that is done for the `listing_impression` function.

[2018-12-17 12:59] jessepearson opened #137 "Standard tracking still on WC pages even if disabled"
If **Enable Standard Tracking** is unchecked, the standard tracking code is still displayed on WooCommerce pages. This appears to happen here:
https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/1.4.7/includes/class-wc-google-analytics.php#L297-L300

I would have expected the setting to be pulled and the standard tracking code to *not* be displayed if the box was not check

[2018-12-17 17:08] dchenk commented on #137
@jessepearson thanks for addressing this issue. I think you're moving this in the right direction. But I believe that leaving "Standard Tracking" unchecked should make it so that the standard Analytics tracking code doesn't show up on any pages, so I don't understand why the code should still be inserted on the Order Received page. I'm sure I'm missing something. Could you please clarify?

One thi

[2018-12-21 16:07] #132 closed

[2019-01-22 13:44] Buzut commented on #121
Seems like the plugin works without JS if you deactivate universal analytics.

[2019-02-06 08:05] Weeb commented on #120
This also/still occurs with payment gateway "Klarna".
Mostly on mobile devices. My guess is that people after completing a purchase close their mobile browser and/or lock their device. After a while when they unlock and/or opening the browser again the last page loads once more and triggers the transaction again.

Perhaps check the database if transaction already has occured and if so don't send g

[2019-02-24 18:34] xnosek00 commented on #137
Hi, I have the same problem. I'm using google tag manager which is insertig google analytics code. So I unchecked: "Enable standard tracking" in your plugin.

Main page is OK (https://janekdo.cz), but when I enter this page (https://janekdo.cz/workshopy/) with products, google tag assistant says: Same web property ID is tracked twice.

![image](https://user-images.githubusercontent.com/1574100/533

[2019-02-27 18:31] #119 closed

[2019-03-21 20:33] urbanoantunes opened #142 "Incompatibility with WP Ultimo"
#### What I expected

Using Google Analytics Integration Plugin and WP Ultimo Plugin, on a WPMU network.

When a administrator user from a sub-site try to view this page:
https://cloudstore.pt/finalizar-compra/encomenda-recebida/3477/?key=wc_order_5c93f232f41a2
they got a blank page.
(This is the main site of the network)

If a super-admin try to view this page, it loads correctly.

If I deactivat

[2019-03-21 20:47] urbanoantunes commented on #142
FYI: Just discovered if I disable Purchase Transactions and Add to Cart Events from the main site, Administrators from sub-sites can see the order-confirmation page again.

[2019-03-23 18:30] johndcoy-zz opened #143 "Standard Tracking disabled still tracks data"
#### What I expected

Unchecking the **Standard Tracking** feature under _WooCommerce > Settings > Integration_ should stop tracking data after disabled.

#### What happened instead

Unchecking the **Standard Tracking** feature under _WooCommerce > Settings > Integration_ continues tracking data after once enabled, then disabled.

![Screenshot](https://cld.wthms.co/OpTyTV+)
Screenshot link: https:

[2019-03-24 03:55] alexanderkladov commented on #137
Hey everyone,

@johndcoy (who is this plugin's support team member), created an official bug report on GitHub (#143 ) for this, after I reported the same problem [on their WordPress.org support forum](https://wordpress.org/support/topic/compatibility-issues-with-gadwp-2/).

So we'll hopefully see a bug fix released for this soon.

Regards,
Alex

[2019-04-25 22:32] om4james commented on #143
Hi @johndcoy, i have submitted a possible fix for this in PR #144, would it be possible to have it reviewed?

This bug is pretty bad for anyone using another analytics plugin plus this plugin for eCommerce tracking, as it results in duplicate page views across all the WooCommerce parts of the site.

Thanks!

[2019-06-15 15:09] pixeldom commented on #120
Identical issue. Is this a low priority bug? Any workarounds?

[2019-06-24 06:03] om4james commented on #143
Hi WooCommerce,

This is a pretty major bug that is likely affecting *many* WooCommerce stores.

Could you please review PR #144, where I have proposed a solution to the issue? It's disappointing that the proposed fix hasn't been reviewed or acknowledged in the 2 months since it was submitted.

Thank you for your time.

James

[2019-07-05 06:58] AashikP commented on #143
Updating priority to `Critical` as this breaks the core functionality of the extension itself.

[2019-07-19 16:55] harishankerr opened #145 "E-Commerce Transaction Tracking Broken After Update to v1.4.10"
#### What I expected

All E-Commerce transactions are being tracked by Google Analytics, after updating to 1.4.10.

#### What happened instead

E-Commerce transaction tracking does not work after updating to 1.4.10. There have been several reports of this problem in the forums as well:

* https://wordpress.org/support/topic/ecommerce-tracking-stopepd-on-1-4-10/
* https://wordpress.org/support/topi

[2019-07-29 12:42] treibalen opened #146 "Analytics column is not responsive in wp-admin"
Reported in 14265990-hc

#### What I expected

A responsive Analytics column.

#### What happened instead

![https://cld.wthms.co/5Bhf61](https://cld.wthms.co/5Bhf61+)
Full Size: https://cld.wthms.co/5Bhf61

I didn't have a Google Analytics ID to add on my test site, but the screenshot user shared is from a site with only WooCommerce and GA enabled.

-------------------

- [ ] Issue assigned to ne

[2019-08-01 15:20] bor0 commented on #145
The only change introduced in 1.4.10 seems to be #144. In other words if they check the option `Enable Standard Tracking` it should work fine. Alternatively we could set the default to `'yes'`?

[2019-08-01 15:37] roykho commented on #145
@bor0 yes that is correct and could be the alternative.

[2019-08-01 16:01] roykho commented on #143
Reopening this as we will be reverting this PR here https://github.com/woocommerce/woocommerce-google-analytics-integration/pull/144 which caused another critical here https://github.com/woocommerce/woocommerce-google-analytics-integration/issues/145

[2019-08-01 23:09] #145 closed

[2019-08-02 07:23] alexanderkladov commented on #143
@roykho I strongly disagree with this decision. That's not a critical error. That's a settings miss-configuration on the user's side. If they haven't enabled standard tracking via this plugin & also haven't added standard tracking code via any other means, then how on earth are they expecting any tracking to work? That's their mistake and they need to fix their settings. Maybe send them a warning

[2019-08-02 13:42] roykho commented on #143
@alexanderkladov - You can use this filter `wc_goole_analytics_send_pageview` if you want to disable standard `send pageview`.

[2019-08-02 22:27] pvnanini opened #148 "Can't Update to Last Version"
#### What I expected
Update the plugin without issues.

#### What happened instead
Error

#### Steps to reproduce the issue
Update the plugin via admin or ftp gives error

-------------------

- [ ] Issue assigned to next milestone.
- [ ] Issue assigned a priority (will be assessed by maintainers).

[2019-08-05 08:47] alexanderkladov commented on #143
@roykho Yeah, that's a good trick for developers, but that doesn't fix the fact that a very important core setting of this plugin is broken to a general user. Which, in my opinion, is a critical issue that should have been resolved months ago, when it was reported (and a PR solution submitted).

Everyone, who got no reports in their Google Analytics after the 1.4.10 update, have configured THEIR p

[2019-08-08 17:54] m155y commented on #120
This was also reported in a forum support question recently, fyi: [Duplicate Tracking Issue in Google Analytics](https://wordpress.org/support/topic/duplicate-transaction-issue-in-google-analytics/)

[2019-08-21 07:28] hanneskiivet commented on #148
I had the same issue. All other plugins were updating normally, but not this one. Temporary solution:

1. in admin select the plugin to update and click update.
2. on the next page (without result) using view source or inspect element (developer tools) copy the URL of the updating iframe (eg https://EXAMPLE/wp-admin/update.php?action=update-selected&plugins=woocommerce-google-analytics-integration

[2019-08-31 21:49] davidtzvi commented on #120
I’d like to chime in as I’m experiencing the same issue with the occasional double counting of transactions.

I’ve noticed it happen specifically when the user visited their completed checkout page a 2nd time.

Having the plugin code prevent the same transaction to be counted twice would be help ensure Analytics reports aren’t inflated.

[2019-09-04 17:45] c-shultz opened #149 "1.4.13 introduces js errors that break universal analytics"
Support forum reports:
https://wordpress.org/support/topic/1-4-13-breaks-credit-card-entry/
https://wordpress.org/support/topic/bug-in-1-4-13-version/
https://wordpress.org/support/topic/bug-version-1-4-13-bug/
https://wordpress.org/support/topic/version-1-4-13-doesnt-work/

#### What I expected

Tracking to work with no js errors

#### What happened instead

Tracking doesn't work
<img width="616"

[2019-09-04 19:01] #149 closed

[2019-09-24 08:07] budzanowski commented on #137
Closing in favor of #143.

[2019-09-24 08:07] #137 closed

[2019-09-25 16:26] mathiasnovas commented on #120
Same issue. Any news? I'd love for the priority to be bumped up a little ✨

[2019-09-27 14:40] bakoline opened #152 "FATAL ERROR on checkout Thank You page"
Hi,

This is very strange…

Checkout thank you page works fine (when logged in) but eCommerce transactions/orders are not tracked by google analytics.

From INCOGNITO tab checkout THANK YOU page has this error and there are below errors in error_log

screenshot: https://i.imgur.com/P7otLDC.png

`[20-Sep-2019 14:17:26 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get_sku() on boo

[2019-10-02 10:48] mikkamp commented on #152
Also posted in: https://wordpress.org/support/topic/fatal-error-on-checkout-thank-you-page/

Seems it was a plugin, which in this case is causing an issue when loading the product from the line item. Would be nice to do some additional checks so it doesn't create a fatal error. But without a valid product being returned we can't populate all the tracking data.

[2019-10-22 10:05] Netty2 commented on #120
Hello. We have the same issue with our store. About 5-10% och transactions are reported twice. Anyone found a solution?

[2019-10-24 15:57] willkidger commented on #120
Same here, over the last couple of months around 10% of transactions, as above, being double counted. This has definitely only been a recent issue for us (didn't seem to affect our site in 2018 when this thread was started).

[2019-11-04 16:12] zwiesman31 opened #153 "Only enable after user consent"
#### What I expected

The latest ruling of the European court of justice declared that all, non-functional cookies (as ga-tracking) need to be disabled by default and only enabled after the user gives consent.

Several cookie-banner plugins allow checking the consent state by a function or allow to enable/disable code in their options.

We should add an option that checks if there is user consent

[2019-11-04 16:20] laurendavissmith commented on #153
@zwiesman31 switching to enhancement and removing critical

[2019-11-07 05:52] anant1811 commented on #120
Also reported in 2461386-zen

[2019-11-11 11:42] florianbepunkt commented on #153
An immediate improvement in my oppinion would be to check, if the JavaScript was loaded before executing analytics functions.

There are several plugins that allow consent management and block JavaScripts. For example we use Borlabs Cookie (not affiliated with them): https://borlabs.io/borlabs-cookie/

This allows us to block Google Analytics unless the user consented to it. However, if we block t

[2019-12-10 13:25] amityweb commented on #120
Finally I find the issue reported! We too are having this. I have subitted support to WooCommerce and also on this forum https://wordpress.org/support/topic/duplicate-orders-in-google-analytics/

To me it looks like follow up ajax calls to the site (even the next day) are calling the analytics. The ajax calls are "/?wc-ajax=get_refreshed_fragments" and "/?wc-ajax=wc_stripe_get_cart_details"

Seems

[2019-12-10 13:26] amityweb commented on #120
Posting my Wordpress support form post here seen as this seems a better place to pursue the issue:

We had an order on 1st December and Google shows that, but then on the 2nd December Google shows the additional quantities being added to the order, 4 of them. So total of 5 quantities in total for this order in analytics.

In the logs I can see on the order day, the main thank you page was called "

[2019-12-10 13:34] amityweb commented on #120
P.S. I dont know if its related, but if you add the Date secondary dimension to the Sales Performance reports, we get dates that do not match orders on the site. Sometimes 2 days difference, which also means website to analytics sales on a per month basis do not match. So I am now wondering if this is related.

[2019-12-10 13:52] amityweb commented on #120
I can only find one place in the plugin that outputs the ecommerce analytics code, and the code looks like it would work OK. So unless there is an issue with get_post_meta( $order_id, '_ga_tracked', true ) when using the AJAX calls, I cant see how this would fail. Anyone else have an idea? Could  get_post_meta( $order_id, '_ga_tracked', true )  not equal 1 when using those AJAX calls?

[code]

[2019-12-11 09:35] amityweb commented on #120
WooCommerce support have come back to me at first asking me to fix it, as they are prioritising paid plugins, but after I complain saying its on their list but its basically low priority.

So the only thing I guess we can do if we cant fix it, is not use their plugin and use a 3rd party, as to m this is a various serious issue, to have the eCommerce sales reports all wrong.

[2020-01-14 10:02] thelar opened #155 "GA registering sales for failed finance"
I'm using Deko/Klarna for finance on a site I've just built and I use a third party plugin for the Deko payment gateway integration. The issue that I have is that the payment gateway works by creating an order number and redirecting the customer to the order-received page BEFORE taking them to Klarna to complete their finance application.

The issue with this of course is that This plugin is sendi

[2020-01-15 21:54] petersontubini opened #156 "Receiving fatal error on Listing Impression"
Hi Guys,

I'm receiving a fatal error "Call to a member function get_id() on null". I've activated WP Debug and I've searched the function that is giving the error and I've found the function that is getting the error.

It seems that is not checking if the product is null before adding to JS. Can you guys help me on it?

![image](https://user-images.githubusercontent.com/7456065/72474772-4e9b2a00-

[2020-01-21 12:02] gerdneuman opened #157 "Bulk updating does not work with Ublock Origin extension"
#### What I expected

Bulk updating plugin works like with any other plugin

#### What happened instead

Updating fails without any error message. Page just loads the new page but no update did happen.

#### Steps to reproduce the issue

0. Have [UBlock Origin](https://github.com/gorhill/uBlock) installed. It is the most popular extension. I use it with Firefox, but Chrome might be somilar.
1. Go

[2020-02-03 14:14] PaulDABIN opened #158 "Issue on purchases conversion"
#### What I expected

I decided to try this extension to report on Google Analytics purchases and revenues.

Purchases and revenues are fully displayed on woocomerce/purchases. As you can see on the next picture, I had 2 purchases (89€ the January 25 and 498€ the January 28th) and the others were attempts canceled by customers.

![image](https://user-images.githubusercontent.com/7039458/73659124-e

[2020-02-17 15:17] laurentdebricon commented on #121
Someone has a fix ?
This line
`		add_action( 'wp_footer', array( $this, 'loop_add_to_cart' ) );
`
should be wrapped in a
[code]

but i don't know how to do that yet :P :(

[2020-02-20 10:53] laurentdebricon commented on #121
@Danw33
i can see a hook now in wc-core-function.php , which is used by woocommerce-google-analytics
		echo apply_filters( 'woocommerce_queued_js', $js ); // WPCS: XSS ok.

Would you mind sharing your code ?

[2020-03-05 20:07] roykho opened #161 "Manual WP 5.4 test and version bump"
For dot.org extensions, when the header `Tested up to` is out of date with the current WordPress release, customers will see a warning about this. .org extensions are much more prominent in where it shows the warning and to prevent unnecessary complains, we should bump the `Tested up to` version.

They see scary warning like this ![](https://d.pr/i/IPmMU8+)

This entails manually testing WP 5.4 an

[2020-03-06 08:35] laurentdebricon commented on #121
Hello,
i have written the code you put in in your theme function.php , and issue is solved.
[code]

[2020-03-09 13:58] mikkamp commented on #161
Did compatibility testing with WP 5.4 RC 1 and WC 4.0 RC 2.

Confirmed the backend settings screens and tracking on the frontend continued working.

Bumped versions and released: https://wordpress.org/plugins/woocommerce-google-analytics-integration/

[2020-03-09 13:58] #161 closed

[2020-03-18 13:05] budzanowski commented on #143
After 1.4.20 release we need to update the documentation with filter info.

[2020-03-29 10:36] budzanowski commented on #143
Closing. The filter should be used. New typo-less name is available:
`wc_google_analytics_send_pageview`

[2020-03-29 10:36] #143 closed

[2020-04-10 14:30] lukecav opened #163 "Google Analytics Pro notices option will not be set if a site already has 100 completed orders on plugin activation"
`woocommerce_google_analytics_pro_notice_shown`  option will never get set is the site where the plugin is activated on already has 100 completed orders. Then the sad query will keep being run.

[2020-04-17 09:34] E-VANCE commented on #148
Same issue here, updating the plugin on the plugins page works though...

[2020-04-30 08:55] grigorijurasov opened #164 "Sales are not recorded in Google Analytics"
#### What I expected

For sales to be recorded

#### What happened instead

Sales are not recorded.

#### Steps to reproduce the issue

1. Set up Google Analytics.
2. Make sure enhanced e-commerce is enabled on Woo and Google Analytics sides.
3. Place an order in incognito browser window.
4. The visit is recorded but the sale is not.

More reports here:

https://wordpress.org/support/topic/ecommer

[2020-04-30 09:02] grigorijurasov commented on #158
Hi there,

Indeed, a redirect to the thank you page is necessary for Google Analytics to record a purchase.

I haven't been able to replicate this at all though - no e-commerce transactions are recorded at all so I'm opening a new bug report here:

https://github.com/woocommerce/woocommerce-google-analytics-integration/issues/164

[2020-04-30 09:15] bor0 commented on #164
This is weird, 3 reports within a week but the last release was a month ago. I will check it.

[2020-04-30 23:29] ahmadssb commented on #164
I don't it has anything to do with your plugin woocommerce-google-analytics-integration
Nor using Google site kit plugin
Nor using integration code tracking manually .

in fact I was disabling your plugin I just activated to check if it'll work. but unfortunatly nothing appears

just to explain the issue

in my website the issue appears on 25 March 2020 there is no tracking

![image](https://user-

[2020-05-01 11:20] bor0 commented on #164
I am unable to reproduce this. I tried purchasing several products on different versions, they all work for me.

<img width="1445" alt="Screen Shot 2020-05-01 at 13 19 40" src="https://user-images.githubusercontent.com/1620929/80802062-7ca54e00-8bae-11ea-8d59-0a5ceae3b57e.png">

These are my settings:

<img width="1658" alt="Screen Shot 2020-05-01 at 13 14 02" src="https://user-images.githubuserco

[2020-05-03 19:56] j-douglas-tf commented on #120
Dude - did you find a solution to this, or find a better plugin? I started using it today and it's recorded both transactions twice, so its completely uselses to me. Why would they flag this as a low priority bug, when it renders the whole thing unusable...

[2020-05-03 22:19] moo2web commented on #164
Hi, I'm the one the 'more reports' refers to.
Just adding more info that might be helpful. Let me know if I can provide anything else.

I've checked my settings:
`Enable Universal Analytics` is ticked.
All settings boxes were ticked except `Anonymize IP addresses`
I've just ticked that also to see if that makes any difference.

No transactions in GA showing since 28April (which shows only 1 of the

[2020-05-04 08:44] bor0 commented on #164
@moo2web could you please check if there's a network request to Google for the particular product once you reach the order completed page?

[2020-05-04 08:44] amityweb commented on #120
No nothing from the developers of this or WooCommerce even though I have add all this info above.

We have had to create our own integration so we can manage the code.

[2020-05-04 08:53] moo2web commented on #164
@bor0 sorry I'm not sure how to do that.

However, I may have resolved my instance of the problem:
I used the Softaculous staging to create a copy of the site at dev.belowthekowhai.nz for update testing.
The dev site had copied the WooCommerce Google Analytics Integration plugin, including the tracking number in the settings.

I created a new GA property for the dev site, and used that new trackin

[2020-05-04 08:54] bor0 commented on #164
This is great news, thank you for your detailed explanation @moo2web!

When you say "created a new GA property", does that mean a new GA tracking code or something else?

[2020-05-04 08:58] moo2web commented on #164
@bor0 yes that's correct. A new Property in Google Analytics, which has it's own Tracking ID. (its actually the same base number, with a different suffix)

Going forward I'll need to ensure whenever I create a staging copy of the site, I must remember to change the staging site's tracking code in the plugin settings, to avoid this conflict again.

Unless there is a way this could be coded in the p

[2020-05-04 08:59] bor0 commented on #164
I just want to confirm, the issue occurred for you because you had 2 different sites using the same GA code?

[2020-05-04 09:07] moo2web commented on #164
@bor0 at this stage, I believe so. I'm waiting for more sales to be created so I can be sure it is fully working again since removing the tracking code from the dev site.

I'm wary that the 2 sales so far could be anomalies as even when both sites had the same tracking code, occasional transactions would still make it through somehow (but not all).

If it helps, I can post back in here after a day

[2020-05-04 09:08] bor0 commented on #164
@moo2web please, that would definitely help, and thank you! This looks like a configuration issue after all so it would be best for us to figure out when it is happening.

[2020-05-04 14:45] tc33 commented on #120
We were having issues with duplicate transactions being tracked by this extension on a client site. So we've implemented a fix which I'm intending to submit as a pull request in the next week or so. We have the fix in place on a production site at the moment and I'm just giving it a bit of time to check it resolves the issue first. It's been in place for 4 days with no duplicate transactions yet.

[2020-05-05 00:02] moo2web commented on #164
Hi, I'm back to confirm I've seen 12 sales since and all have shown in GA!

Warning to others, ensure you don't have two sites with same tracking code in the plugin settings.
Does this mean anyone could accidentally cripple someone elses stats by using their tracking code also?

[2020-05-05 05:23] j-douglas-tf commented on #120
Could you share it? I really need to get this fixed :(

[2020-05-05 06:21] dougaitken commented on #153
A request for this from here - https://wordpress.org/support/topic/google-analytics-code-gets-inserted-automatically-on-woocommerce-parts/

[2020-05-07 05:35] Netty2 commented on #120
Also looking forward to that fix!

[2020-05-07 11:34] dougaitken commented on #120
Hi @tc33

Are you able to share this Pull Request? I can pass this on to the extension development team to take a look at getting merged into our plugin.

Thanks,

[2020-05-07 12:45] tommyshellberg commented on #120
Bumping to High.
Looks like this is a common problem with GA - sharing some sources on how the plugin can potentially tackle it:

https://www.thyngster.com/the-definitive-approach-for-preventing-duplicate-transactions-on-google-analytics-universal-customtask/

https://www.simoahava.com/analytics/prevent-google-analytics-duplicate-transactions-with-customtask/

[2020-05-07 12:48] tc33 commented on #120
I'll create a pull request later today.

[2020-05-07 20:30] tc33 commented on #120
Hi @dougaitken, would be good if you could nudge the development team to take a look.

The issue seems to be that in certain scenarios some devices/browsers will reload a page locally (and re-run scripts) without a server request. For example, when a customer completes an order on their phone, then leaves the browser with the page still open. When they return to it several hours or days later the

[2020-05-08 06:40] j-douglas-tf commented on #120
this seems to be the same thing in my case, occurrences for me so far have been on tablet at random times after initial payment - so it must have been when they revisited the still opened thankyou page (confirmed by a second viewing of each in GA)

[2020-05-15 12:31] danbachar commented on #153
any news on this? I imagine a lot of people are having problems getting their cookie notice plugins to play nicely with this (me included)

[2020-05-20 22:26] hctrbz commented on #164
I am experiencing the same issue.

I was not getting any tracking at all with the plugin including any e-commerce tracking.

After trying multiple things I removed my domain from the Set Domain Name field in the plugin settings.

Then I started to see Real Time traffic but still no e-commerce tracking.

I tried this on my existing GA property and a new property for the same website. It doesn't see

[2020-05-22 11:15] grigorijurasov commented on #164
@bor0 sorry for the delay. I can confirm that the "enable universal analytics" checkbox was ticked, I did not have two sites with the same tracking code connected to one account.

Since reporting this, I've seen at least one site functioning correctly and I do see a purchase in Google Analytics from the end of April right now so I suppose there was a delay or misconfiguration of some sort but even

[2020-06-15 03:57] rickysullivan opened #166 "Calls to GA from WC API"
Am I correct in assuming that if I call WC API endpoints that GA calls won't be made? Is GA reliant on the JS being called from a page view?

[2020-07-03 13:05] Mic2005 commented on #120
Same issue here #follow

[2020-07-08 18:02] NathanaelServiceCompany opened #167 "Ecommerce Transaction & revenue not tracked in GA"
#### What I expected

I expected to access E-commerce reports under Conversions.
#### What happened instead
No transactions tracked

#### Steps to reproduce the issue

1 . Google analytics already installed through another plugin : GA Google Analytics (By JeffStar). Method chosen Universal Analytics. (I previously tested with Global Site Tag, but same issue faced). Also I made sure that Enhanced E

[2020-07-15 19:00] raphawa commented on #142
Hello
I'm facing same issue how did you disable Purchase Transactions and Add to Cart Events from the main site?
Thanks

[2020-07-23 08:43] #120 closed

[2020-08-11 15:35] billrobbins commented on #166
Do you mean via the REST API?  If so they the GA calls won't be made.  You may be able to incorporate the tracking code into the page/app so the calls are still registered with GA.

[2020-08-21 07:57] ajayghaghretiya-multidots opened #171 "Filter needed to modify transaction data"
#### What I expected

We have modification data for the product on our website and we need to track all the custom information on Google Analytics Tools. We are using this plugin. And it did very much help with that.

But It would be really great we have some control on data when calling any transaction event. And we all know the modification in the plugin is not a good thing.

So If we have some

[2020-09-14 13:01] dougaitken commented on #102
As a note, I came across a similar request here -

Related Ideas board request - https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/34485613-enhanced-ecommerce-with-gtag-js - please upvote that Idea

[2020-10-06 20:09] #166 closed

[2020-10-06 20:09] #164 closed

[2020-10-06 20:10] #158 closed

[2020-10-06 20:11] #157 closed

[2020-10-06 20:12] #148 closed

[2020-10-06 20:12] #152 closed

[2020-10-06 20:13] #128 closed

[2020-10-06 20:14] #110 closed

[2020-10-06 20:14] #72 closed

[2020-10-08 08:13] mikkamp commented on #171
Thanks for providing a suggested PR. It's a nice solution but we are going to need a more standardized approach for adding hooks to the various snippets which are output.

In the PR a filter is being added for the `ec:addProduct` event on the thank you page. However this event is recorded in many different locations throughout the code. So it would be best to use a set of standard filters so all l

[2020-10-22 05:46] dougaitken opened #173 "Google Analytics 4"
There is [a big update to Google Analytics](https://blog.google/products/marketingplatform/analytics/new_google_analytics/) and one "small" changes is the tracking ID format. Our friends over at WordPress.com have some changes needed - p58i-9Dr-p2 - helpful screenshots included.

I imagine this will change how the GA plugin also works/understands what is a valid tracking ID so I'm opening this iss

[2020-10-25 22:16] findingsimple commented on #173
Thanks @dougaitken for the reference link. We'll likely be tackling this with some larger changes.

[2020-10-25 23:55] findingsimple opened #174 "WordPress 5.6 & PHP 8 Compatibility"
WordPress 5.6 is currently scheduled for release on [December 8th](https://make.wordpress.org/core/5-6/) - and one of its goals is supporting the newest version of PHP (8).

We should check compatibility with both WordPress 5.6 and PHP 8 to ensure the extension is ready for the December release.

See main Woo Core issue for PHP8 support in Woo Core: https://github.com/woocommerce/woocommerce/issue

[2020-10-28 22:19] bloukingfisher commented on #173
I've setup a new site with a new GA4 (Google Analytics 4) implementation with WooCommerce and WooCommerce Google Analytics Integration. Using the G- code (there is no UA- code available) it doesn't end up tracking any e-commerce events.

I'm not sure if there are workaround options to get it to work.
It will also require updating instructions (e.g.; as far as I can tell options such as "enabling e

[2020-10-29 02:02] findingsimple commented on #173
Hi @bloukingfisher 👋

That's correct, if you follow the default prompts when setting up a new Google account you will only get a GA4 property with a measurement ID.

During property set up if you "Show Advanced Options"  you can toggle option to choose whether to create both a GA4 property AND a UA property or just a UA property e.g.

![Screen Shot 2020-10-29 at 12 20 36-fullpage](https://user-ima

[2020-11-02 03:28] findingsimple commented on #167
Some quick notes

[GA supports multiple tags](https://support.google.com/analytics/answer/1032400?hl=en) and I can confirm both tags are being loaded in a basic configuration

![Screen Shot 2020-11-02 at 12 54 43 pm](https://user-images.githubusercontent.com/355014/97823995-9ca6fd00-1d0a-11eb-98ad-fc1808670379.png)

Note that the WooCommerce Google Analytics integration loads after the GA Google p

[2020-11-02 03:32] findingsimple commented on #167
@NathanaelServiceCompany its been a while - can you confirm if you have any new information about your experience here?

[2020-11-02 14:09] findingsimple commented on #167
Just checked and the ecommerce stats have started appearing

![Screen Shot 2020-11-03 at 12 34 39 am](https://user-images.githubusercontent.com/355014/97877143-af521e00-1d6c-11eb-9055-6b01183a86f2.png)

![Screen Shot 2020-11-03 at 12 37 36 am](https://user-images.githubusercontent.com/355014/97877252-cd1f8300-1d6c-11eb-99e1-6bd312138844.png)

Everything seems as expected.

[2020-11-04 03:16] #167 closed

[2020-11-04 09:20] ghost commented on #173
Hi,
Is there an expected date available for the solution?

[2020-11-04 10:40] findingsimple commented on #173
None available at the moment sorry @michavandijk

[2020-11-12 23:44] findingsimple opened #175 "Integrate with WooCommerce Core Usage Tracking"
As of WooCommerce 2.3, WooCommerce provides the ability for Merchants to enable usage tracking from within their WordPress admin area. This sends Woo basic data about the size of the store, how WooCommerce is installed, and how it’s being used.

By choosing to share your data, Merchants help us make WooCommerce better for everyone. By understanding how you’re using WooCommerce, we can create more

[2020-11-17 13:34] layoutd commented on #175
WC Tracker snapshot data is already implemented using the core `woocommerce_tracker_data` hook:
https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/8c6c6a159b30e7d5eeaf65d8bdc15730b52e0b85/includes/class-wc-google-analytics.php#L242-L253

[2020-11-18 12:02] findingsimple commented on #156
Hi @petersontubini are you still seeing this issue?

I'm going to close for now - I recommend opening a discussion on the public forums or if you are a paying WooCommerce.com Customer you can get help faster at WooCommerce.com > My Account > Tickets.

https://wordpress.org/support/topic/guide-for-using-the-woocommerce-google-analytics-integration-forum/

[2020-11-18 12:02] #156 closed

[2020-11-23 10:28] #174 closed, assigned to layoutd

[2020-12-01 17:01] madeincosmos commented on #163
I'm seeing the same behavior on my test site - if there's more than 100 orders on first activation, the plugin will try to count all existing orders on every page load, and there's nothing we can do to stop it.

Ideally, if we detect it once that there are more than 100 orders created on the site already, we could save it as an option to avoid running the whole order count query on every run (whic

[2020-12-03 08:01] dougaitken opened #178 "Ecommerce data not tracked after Site Kit has been active"
#### What I expected

When using the [Google Site Kit](https://wordpress.org/plugins/google-site-kit/) plugin along with this integration, I can have standard site tracking via Site Kit and eCommerce tracking via the Google Analytics Integration

#### What happened instead

When Google Site Kit is active, visits are tracked as expected but eCommerce data is not tracked.

#### Steps to reproduce th

[2020-12-04 21:03] #173 closed, assigned to nobody

[2020-12-07 04:12] findingsimple commented on #178
Marking as a bug and with high priority for further investigation - we can adjust once we know some more.

I'm not sure what type of tracking SiteKit is using.

From https://github.com/woocommerce/woocommerce-google-analytics-integration/issues/167 I think e-commerce tracking should work with Standard tracking disabled but its possible there is a mismatch in the type of GA tagging being used.

@do

[2020-12-14 06:32] dougaitken commented on #178
Hey @jconroy I was going to test 1.5 on my core test site but you can use this if needed? `https://core.doug.press` - let me know if and how you want to access and I can add people as needed to that and the Google Analytics account

[2020-12-14 06:46] findingsimple commented on #178
Heya @dougaitken thanks for that. It looks like it is using gtag.js (just looking at the source) - so as-is (pre a 1.5 release) that wouldn't work because the main tracking code in sitekit is gtag.js (we don't support that) and the Woo GA plugin would be trying to send events using analytics.js (or legacy ga.js)

Post 1.5, it's something we'd need to check - so I'll think I'll mark this as an enha

[2020-12-14 12:42] findingsimple commented on #178
Chatting with @layoutd some more on this, my understanding might be flawed. @layoutd is going to double check

[2020-12-16 05:09] findingsimple commented on #178
I've done a bunch of testing with the 1.5 release candidates and the e-commerce tracking seems to be ok

![Screen Shot 2020-12-16 at 2 30 12 pm](https://user-images.githubusercontent.com/355014/102307521-91571a80-3fb4-11eb-892c-98afc7445cc5.png)

![Screen Shot 2020-12-16 at 2 29 24 pm](https://user-images.githubusercontent.com/355014/102307543-9a47ec00-3fb4-11eb-86ef-ea72dd5574de.png)

![Screen Sh

[2020-12-17 07:22] dougaitken commented on #178
Yes, I retested this as part of the 1.5.0 testing and @layoutd's release fixes my previous issues 🥳 :shipit:

[2020-12-17 14:14] #178 closed, assigned to layoutd

[2020-12-20 00:59] findingsimple commented on #102
We've released version 1.5.0 with support for global site tags (gtag.js)

[2020-12-20 00:59] #102 closed

[2021-02-01 03:28] findingsimple opened #180 "WC 5.0 - Increase tested up to tags"
WooCommerce 5.0 is currently scheduled for release on February 9th.

With 5.0, WooCommerce is moving to WP versioning and 5.0 is no longer considered to include breaking changes.

Prior to 4.9.2, WooCommerce included a number of extra warnings to prep users for a major change. These are no longer necessary.

If WooCommerce users upgrade to 5.0 from a version prior to 4.9.2 they would still see the

[2021-02-02 18:42] melindahelt opened #181 "Issue with UTM_override code"
I received a chat where user was passing along information from Google regarding the use of our plugin. I attempted to get more information, but they would not provide anything other than what is listed here. Google told them to have us remove this code from the plugin. I'm not sure if that is possible, but we'll need to follow up.

[2021-02-02 18:42] melindahelt commented on #181
3705896-zen

[2021-02-02 21:12] haszari commented on #180
I've pushed the `Tested up to` change direct to trunk: 4912228

Testing …

Test setup:

- Release WordPress 5.6.
- Active plugins: WooCommerce 5.0.0-rc.1, WooCommerce Stripe Gateway 4.8.0.
- Theme: Twenty Twenty-One 1.1.
- Dev build of Woo core `5.0.0-rc.2` [tag](https://github.com/woocommerce/woocommerce/releases/tag/5.0.0-rc.2).
- Dev build of extension trunk.

[2021-02-02 23:53] haszari commented on #180
Tested using the [web version of **Google Tag Assistant**](https://tagassistant.google.com/) - the [chrome extension](https://chrome.google.com/webstore/detail/tag-assistant-legacy-by-g/kejbdjndbnbjgmefkgdddjlbokphdefk/related) seems to be broken/out of date.

I set up a fake / dev test analytics property, configured the tracking ID in the plugin settings, and wahey it seems to be recording stuff:

[2021-02-03 22:27] #180 closed, assigned to haszari

[2021-02-04 19:12] kristenzuck commented on #181
The above customer reached out again looking for an update. I've said that we don't have any new information, but we'll be in touch once we do.

[2021-02-08 05:29] #175 closed, assigned to nobody

[2021-02-08 22:27] findingsimple commented on #181
Just adding a note to look at https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/trunk/includes/class-wc-google-analytics.php#L96

[2021-02-10 23:21] layoutd commented on #181
Hi @melindahelt & @kristenzuck,

Thanks for the report. As @jconroy astutely observed, the `utm_nooverride` parameter is added to the return page URL by the WooCommerce Google Analytics Integration extension during checkout.

One quick solution that may work for the user would be to add this filter which simply removes the parameter again:
[code]

If this solves the user's issue, please let us kno

[2021-02-17 01:35] haszari opened #183 "Tweak settings for new woo nav"
Issue covering all changes needed to work well in [new WooCommerce Admin nav](https://developer.woocommerce.com/2021/01/15/call-to-action-create-access-for-your-extension-in-the-new-woocommerce-navigation/).

Google Analytics has a settings page, which is accessible under `WooCommerce > Settings > Integration(s) > Google Analytics`. This is working fine in the new nav, though it may be more consis

[2021-02-17 03:28] findingsimple commented on #181
Going to close until we hear something back.

[2021-02-17 03:28] #181 closed, assigned to layoutd

[2021-02-18 18:51] michaloo commented on #173
EDIT: I was wrong (see below) :)

￼￼Since this is not supported here yet, just wanted to give a hint that alternatively, you could integrate WooCommerce with GA4 using Google Tag Manager and this plugin:

https://woocommerce.com/products/google-tag-manager-for-woocommerce-pro/

[2021-02-19 08:41] dougaitken commented on #173
@michaloo GA4 is supported now. The linked PR above has the details #176 - https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/trunk/changelog.txt :)

[2021-02-19 10:34] steven-hardy opened #184 "GA4 Adding duplicate tags on the website"
#### What I expected

The GA4 tag to be called only once on the page.

#### What happened instead

This is currently being called twice and is causing duplicate reporting in Google Analytics.

#### Steps to reproduce the issue

I have added the plugin to a website and now the code is duplicated in the head of the website.

![woo-ga](https://user-images.githubusercontent.com/50919787/108493237-ff16

[2021-02-19 23:16] michaloo commented on #173
@dougaitken thanks for pointing it out. I see it's already there for a while (since Dec 2020). Sorry for not verifying my comment, I have updated it :)

[2021-03-09 11:34] mikejolley commented on #146
This is WP SEO. This extension does not add columns within admin.

[2021-03-09 11:34] #146 closed

[2021-03-11 14:07] mikejolley opened #185 "Inconsistent usage of woocommerce_ga_tracker_variable"
A filter named `woocommerce_ga_tracker_variable` exists which allows `gtag` and `ga` to be changed. Some calls to Google Analytics then use this, e.g:

[code]

However, usage is inconsistent. There are many hardcoded gtag and ga calls through the codebase. If the filter is used, these calls can break.

I'd suggest removing the filter and using the correct methods throughout.

[2021-03-11 14:16] mikejolley opened #186 "Analytics Scripts should use the WordPress Scripts API"
Scripts added by this plugin are hardcoded in `wp_head`. This makes detection and reuse more complex than it should be. We should instead register and enqueue scripts.

I was going to contribute this, however, it would have caused some other issues due to the way scripts are added/filtered, so instead I will share what I did for someone to implement in the future.

cc @layoutd this would make it e

[2021-03-11 14:25] mikejolley commented on #186
Also ref:

https://pagespeedchecklist.com/defer-google-analytics
https://ahmadnassri.com/blog/a-faster-google-analytics-implementation/

[2021-03-15 23:05] haszari opened #187 "Incompatibility with Google Product Feed (Ademti)"
User is running both [Google Analytics](https://woocommerce.com/products/woocommerce-google-analytics/) and [Google Product Feed](https://woocommerce.com/products/google-product-feed) on their site.

This causes a `Product ID` mismatch error. Google Analytics passes only the product ID; Google Product Feed prefixes product ID with `woocommerce_gpf_prefix`.

Originally raised by @yukikatayama

####

[2021-03-15 23:07] haszari commented on #187
One thing that I don't understand - should the product IDs be consistent across both plugins, or should they be unique?

If they need to be consistent then this might be more complex (especially if there are other plugins that use same ID with Google APIs).

[2021-03-15 23:18] haszari commented on #187
Marked as `low` for now since we haven't seen many reports of this. If it's affecting more merchants can bump the priority.

[2021-03-16 11:05] leewillis77 commented on #187
Hi;

I'm the developer of the Google Product Feed plugin. For info, I'm planning on opening a PR to make the information output by this extension filterable so that other plugins can modify / add to it as required, but it'll likely be a week or two before we can look at it.

[2021-03-16 18:42] haszari commented on #187
Thanks @leewillis77 !

[2021-04-05 14:43] vedanshujain opened #188 "Slow query on `init` hook when `woocommerce_google_analytics_pro_notice_shown` notice is shown."
From https://github.com/woocommerce/woocommerce/issues/29563

[code]

Looks like we are hooking a query on init that checks for order count in a particular status.

#### What I expected

The result of this query should be cached, running it only once should be good enough for the purpose here.

#### What happened instead

Query is run multiple times and slow query notice is shown.

#### Steps to r

[2021-04-17 09:18] jesus225 opened #189 "Missing filter for gtag snippet in case of purchase event"
#### What I expected

For the plugin to allow filtering snippet output on purchase events.

#### What happened instead

Available filters are not covering purchase events.

#### Steps to reproduce the issue

Hello!

I am currently using the filter "woocommerce_gtag_snippet" to modify main snippet output to remove text/javascript and change it for text/plain. This is to make it compatible with GDPR

[2021-05-17 11:38] rolandso opened #191 "Product prices with taxes"
Why are the product prices in google analytics without taxes?
When user completes the order, the product price is shown with a tax, but in google analytics it shows the product price without a tax.

[2021-06-08 10:35] AdityaMindatrafik opened #192 "Google Analytics: Price amount is not tracked : Please Help Us"
Thanks for your Time

We need help,  Google Analytics: Price amount is not tracked

Here are the details:

https://www.farmasicolourcosmetics.com
WP: Current version: 5.7.2
WooCommerce Plugin: 5.3.0
WooCommerce Google Analytics Integration Plugin: 1.5.1
Currency used = MYR

GA its always '0' at the revenue..

![image](https://user-images.githubusercontent.com/85553826/121170734-cff0d200-c87f-11eb-

[2021-06-18 16:29] jrick1229 opened #193 "Variable 'parent' product is being sent to Google with a $0.00 price"
#### What I expected

Since a 'parent' product isn't necessarily a real product on the storefront (that would instead be assumed the variations), I wouldn't expect to see the parent product also listed within Google:

<img width="1600" alt="Markup 2021-06-17 at 14 01 29" src="https://user-images.githubusercontent.com/19918755/122591001-5485e200-d030-11eb-82d0-ec8b453b2136.png">

#### What happened

[2021-07-27 04:37] findingsimple opened #194 "Update GA Pro utm link"
We've been asked to standardize UTM tags point to WCCOM - specifcally to standardize on using

`utm_medium=product`

GA has an upsell notice pointing merchants to WCCOM here which uses `utm_medium=upsell`

https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/trunk/woocommerce-google-analytics-integration.php#L144

We need to update the link.

I don't think it makes sense to

[2021-07-28 16:45] ecgan commented on #194
@jconroy, I believe there is an unintentional typo (missing an `m` in `woocomerce`), I'll change it to `utm_source=woocommerce-google-analytics-integration`.

[2021-07-29 07:11] findingsimple commented on #194
@ecgan good catch, definitely a typo

[2021-07-29 14:31] #194 closed, assigned to ecgan

[2021-08-27 07:29] seldimi opened #196 "Remove text/javascript from all scripts"
Hello.
Can you remove the text/javascript declaration from class-wc-abstract-google-analytics-js.php from line 51 or enqueue it with core’s inline script actions? According to HTML5 and html validator
“The type attribute is unnecessary for JavaScript resources”.

You enqueue the above script by echoing it, so the below function cannot affect it
[code]
Same applies to class-wc-google-analytics-js.p

[2021-09-02 05:07] WillBrubaker opened #198 "Include parent category names to the GA product data."
4260824-zen

categories being sent to Google are just alphabetized and do not reflect any parent/child structure.

p1630554442116900/1630509117.102700-slack-C7U3Y3VMY

[2021-09-02 05:22] findingsimple commented on #198
Adding tag for discussion - It's not clear to me whether the hierarchy is needed or what the implications are - might need to do some diving into their docs.

[2021-09-13 07:54] budzanowski commented on #193
Hello @jrick1229!

Thank you for creating the Issue. I was able to reproduce what you are seeing. I am not sure though if this is the same scenario - if not, then please provide exact steps to reproduce as the logic behind the code may be different.

In my testing, I was able to see the parent product in the listing when I have entered its view and the child ( the variation, actual product with pr

[2021-09-13 07:54] #193 closed, assigned to budzanowski

[2021-09-13 08:54] budzanowski commented on #192
While looking at your site I can see that it is not configured correctly. I can see that you are using at least Google Analytics plugins ( or the tracking code was added manually ). This most probably breaks the configuration:
![image](https://user-images.githubusercontent.com/17271089/133053433-a9964324-c12a-4f91-9e79-cf333db8adb3.png)

The first two tags look like they are correct (the same id n

[2021-09-13 08:54] #192 closed, assigned to budzanowski

[2021-09-13 09:00] budzanowski commented on #191
Hello,

In the Plugin [documentation](https://docs.woocommerce.com/document/google-analytics-integration/), you can find the following:

If this does not help please create an issue with the exact reproduction steps and include system status request: https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/

[2021-09-13 09:00] #191 closed, assigned to budzanowski

[2021-09-13 09:08] budzanowski commented on #184
Hello @steven-hardy

I can't really reproduce this problem. Are you using any other Google Analytics Plugins? And what do you mean exactly by:

?

[2021-09-13 09:59] steven-hardy commented on #184
Hello @budzanowski
Thank you for your reply.

I actually forgot to comment here and say that it was resolved. I believe that the theme that we was using had the tag and then the plugin was adding the tag too. So I removed the theme one, and its all ok now :) I will close this issue.

[2021-09-13 09:59] #184 closed, assigned to budzanowski

[2021-09-13 12:15] jrick1229 commented on #193
Hey @budzanowski - I think you nailed it. That makes perfect sense to me!

[2021-09-14 03:50] budzanowski commented on #155
Hello!

This needs to be addressed by the Deko payment plugin developers. According to the documentation of the Google Analytics plugin:

The out-of-order flow for the Deko payment makes it impossible for Google Analytics to understand that the payment was not made. I don't think that we can do anything to help in this situation.

[2021-09-14 03:50] #155 closed

[2021-09-14 03:57] budzanowski commented on #142
Some Issues that look similar have been fixed already. Hopefully, this error no longer exists, this is why I am closing the Issue. In case this situation is different and the problem is still there please reopen the issue.

[2021-09-14 03:57] #142 closed

[2021-09-14 13:03] #163 closed

[2021-09-14 14:52] layoutd commented on #198
This is confirmed, the categories are retrieved (alphabetically) on Line 168 with `get_the_terms()`:
https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/44e85eaceaba7f7ffacd0f4624d92d93e711cd7c/includes/class-wc-abstract-google-analytics-js.php#L165-L182

They're then displayed in a `/` separated list (Line 181). So for a product with category **Clothing > Hoodies**, the s

[2021-09-15 06:24] findingsimple commented on #198
Thanks for the investigation @layoutd and clear information.  Leaving as an enhancement for product to prioritize at a later point.

@WillBrubaker feel free to add to the ideas board to help us gather an idea of customer need.

[2021-09-22 11:46] michaldusek opened #199 "Trying to access array offset on value of type null"
Notice:
Trying to access array offset on value of type null in .../plugins/woocommerce-google-analytics-integration/includes/class-wc-google-analytics.php on line 572
Notice: Trying to access array offset on value of type null in .../plugins/woocommerce-google-analytics-integration/includes/class-wc-google-analytics.php on line 585

Using WP Woocommerce, Template Avada and their product slider (ww

[2021-10-01 09:32] aheckler opened #200 "Inconsistent names for variable products"
#### What I expected

Variable product names to be consistent in Google Analytics through the purchase process, i.e. on whether the variation attributes are included in the name.

#### What happened instead

Add to Cart:

`{items: [{id: "#53", name: "Variable Product", quantity: "1"}]}`

Checkout:

`{items: [{id: "#57", name: "Variable Product", category: "Uncategorized", variant: "size: Medium, c

[2021-10-20 14:29] layoutd commented on #200
Leaving this as low priority for the moment.

[2021-10-28 02:41] findingsimple commented on #199
Hi

Possibly related to the `woocommerce_loop` global - perhaps Avada does something custom with it.

Would be nice to do some conflict testing @michaldusek and check if you still see the issue when using a theme like storefront

it's likely just because the extension doesn't add tracking for admins.

[2021-11-05 08:23] #188 closed, assigned to nima-karimi

[2021-12-03 15:01] laurentdebricon opened #212 "When used with WC google-analytics-integration, the Google Analytics script is loaded twice"
Hello,
i have https://github.com/woocommerce/woocommerce-google-analytics-integration
and now with your plugin, i have two requests to google analytics :
![Screenshot from 2021-12-03 15-56-08](https://user-images.githubusercontent.com/736104/144623518-e8aed987-dc37-490e-8224-6858aa777776.png)

it seems that
[code]
is a great check but it is missing in woocommerce-google-analytics-integration , whi

[2021-12-06 21:12] sunyatasattva commented on #212
Hello there!

Thanks for reporting this issue. I have moved it to our backlog and I will discuss it with the team. I took the liberty to slightly reword the title of the issue, just to make it clearer at a glance to our engineers, I hope you don't mind.

It seems to be related with this open issue: https://github.com/woocommerce/woocommerce-google-analytics-integration/issues/186

[2021-12-07 20:06] workeffortwaste opened #204 "Update documentation regarding custom dimension usage"
The documentation should be updated to mention that the plugin sends the logged in status as dimension1.

I didn't realise this and have had it conflict with data that was also being sent to dimension1 via other means.

[2022-01-05 16:36] puntope opened #208 "select_content event doesn't collect on time"
#### What I expected

- With Use Global Site Tag and "Enable Enhanced eCommerce" and all sub-options selected.
- Rest of config tested and working fine. So, events are working fine...

After clicking on a product single, I expect to have gtag( 'event', 'select_content')` collected properly...

#### What happened instead

The code is triggered, but it change the page before the collect network requ

[2022-01-12 21:15] layoutd commented on #208
Looks like this would be a potential solution:
https://developers.google.com/analytics/devguides/collection/gtagjs/sending-data#implement_event_callback_functions

[2022-01-17 15:40] mikejolley commented on #212
@senadir We need the enqueue our side so it's available, but cannot detect the hardcoded version. This is indeed caused by https://github.com/woocommerce/woocommerce-google-analytics-integration/issues/186 - should I prep a patch or transfer the issue?

[2022-01-17 16:17] ugurgok commented on #121
It doesn't work for me cause there is still jQuery tag. I modified your code maybe it will work for simple use

[code]

but there are still many jQuery element usages.
like

[code]

[2022-01-18 12:15] mikejolley commented on #212
I took a deeper look into this to confirm my suspicious on feasibility and it seems I was correct. To summarize the issue:

- Both the integration in Blocks and the GA extension require the script from `googletagmanager.com`.
- Blocks registers the script with handle `google-tag-manager` (correct approach)
- GA extension outputs the script manually in `wp_head` priority `999999`
- Since Blocks reg

[2022-04-20 18:31] edirpedro commented on #189
This plugin has similar problems like in "Facebook for Woocommerce" when validating cookies law. I'd like to attach here the discussion from that other plugin because the same feature could be added in both plugins to enable developers to build a custom check on the client side instead of the server side that is not trustworthy when you are caching your website.

https://github.com/woocommerce/fac

[2022-04-27 09:40] layoutd opened #215 "Universal Analytics will stop processing data on July 1, 2023"
Google Analytics will no longer collect Universal Analytics data starting on July 1, 2023. As per <https://support.google.com/analytics/answer/11583528>:

**Short Term**
It may make sense to include a notice for users that are currently using a Universal Analytics property in the coming months, so they have time to migrate if desired.

**Long Term**
Refactor/disable/remove functionality associated

[2022-05-03 14:27] layoutd commented on #215
Postponing this until changes are about 12 months out, with the idea to add dismissible alerts (for affected users), and then permanent alerts immediately before the changes become effective.

[2022-07-04 16:36] ecgan opened #217 "WooCommerce 6.7 compatibility testing"
The following test is based on the [General Testing](https://github.com/woocommerce/woocommerce-google-analytics-integration/wiki/General-Testing) wiki page.

PHP version: 8.0
WordPress version: 6.0
WooCommerce version: https://github.com/woocommerce/woocommerce/releases/tag/6.7.0-beta.2
WooCommerce Google Analytics Integration version: https://github.com/woocommerce/woocommerce-google-analytics-i

[2022-07-04 18:16] ecgan commented on #217
Testing runs well. Closing this issue as done.

[2022-07-04 18:16] #217 closed, assigned to ecgan

[2022-07-13 15:40] selectedselections opened #219 "Product Bundles total cost in Google Analytics doesn't reflect bundled items"
### Describe the bug:

When a product bundle is passed to Google, the base cost is considered, but not the bundled items. If the "base cost" is set to `0` and the items within the bundle are set to `priced individually` then the result is that the price will be shown as `0` in Google, when it should be the total of items in the bundle.

### Steps to reproduce:

1. Create a product bundle using [Pr

[2022-07-25 08:45] puntope opened #220 "WC COMPAT 6.8"
0. Installation
 - [x] Activating the plugin doesn't generate errors
 - [x] Deactivating the plugin doesn't generate errors

2. Settings
    - [x] `Settings` link from the WCGA row on the Plugin page or WooCommerce → Integration → Google Analytics
    - [x] Confirm it loads OK.
    - [x] Checking "Use Global Site Tag" hides "Set Domain Name" and "Enable Universal Analytics"
    - [x] One or both o

[2022-07-25 09:56] puntope commented on #220
Works!

[2022-07-25 09:56] #220 closed, assigned to puntope

[2022-07-27 13:59] mikkamp opened #221 "Custom Order Table compatibility"
### Describe the issue:
To ensure we remain compatible with custom order tables, we should not access order data through post functions, instead we should use the WC_Order functions.

The order meta field `_ga_tracked` uses `get_post_meta` and `update_post_meta`. This should be switched to `WC_Order->get_meta` and `WC_Order->update_meta_data`.

There are also various places in the code where compa

[2022-08-03 10:06] #221 closed, assigned to mikkamp

[2022-08-18 11:30] PaulSchiretz opened #225 "Add Filter hook to gtag config parameters"
### Is your feature request related to a problem?

It would be very handy to have a filter for the parameters that are passed to the gtag config call.
Currently the gtag config call is build by the settings of the ui and plainly appended to a string.

GoogleAnalytics configurations can differ a lot, specially in times if gpdr, google signals and so on.
Currently i would like to append the cookie_f

[2022-08-23 16:08] haspden opened #226 "Include more than one tracking ID Not working"
issue with

Include more than one tracking ID
https://woocommerce.com/document/google-analytics-integration/#disabling-pageview

I've added to my functions.php file

[code]

However the additional UA is not included in the source code

[code]

[2022-08-23 23:14] findingsimple commented on #226
Hi @haspden I've tagged as a question, one of the devs might be able to investigate quickly for you in the coming weeks - however to set expectations, we don't use Github for support questions/requests and I would recommend contacting WooCommerce.com support directly as our happiness team might be able to offer assistance more quickly.

[2022-09-07 10:33] budzanowski commented on #226
Hi @haspden,

The code you are using should work.
Please make sure that there are no other Google Analytics plugin enabled as this may cause issues with the integration.
Another thing to check is if you are using the correct functions.php file. For example if this file is located in a theme that is not loaded this snippet will not work.

[2022-09-15 13:12] mikkamp opened #227 "Move GA4 implementation for blocks within the extension"
## User story
The WooCommerce Blocks extension has a separate implementation for supporting tracking events from Blocks, see: https://github.com/woocommerce/woocommerce-blocks/pull/3953
This code is also present within WooCommerce core as part of the blocks package.

Now that this has matured, we shouldn't have to maintain the code for this in a separate location. So it's best to move this code wi

[2022-09-21 15:06] mikkamp opened #228 "Support for GTag ID"
Allow the input of a `GT- ID` (GTag). We currently allow tags with a prefix of `G-` and `UA-` which we’ll need to expand to allow `GT-`.

Until #227 is implemented we will also need to add support within the [WooCommerce Blocks extension](https://github.com/woocommerce/woocommerce-blocks).

Project thread: peeuvX-o-p2

[2022-09-27 16:57] Babylon1999 commented on #153
Reported here as well: https://wordpress.org/support/topic/borlabs-cookie-gtag-question/

[2022-09-30 05:54] #228 closed, assigned to nobody

[2022-10-05 09:50] mikkamp commented on #226
I'm closing this issue now, as mentioned above the code should work as is. We haven't had any feedback since then, but let us know if there is any followup to this issue.

[2022-10-05 09:50] #226 closed, assigned to nobody

[2022-10-14 11:20] martynmjones opened #232 "Category line incorrectly using delimiter"
### Describe the bug:
Currently, the [product_get_category_line](https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/abecaec0fd5542ced4e93374a79acbc8387dbc3b/includes/class-wc-abstract-google-analytics-js.php#L165) method generates a string containing _all_ categories separated by a `/`. [Documentation](https://developers.google.com/analytics/devguides/collection/gtagjs/en

[2022-10-18 21:07] martynmjones opened #233 "Incorrect event names being used for gtag implementation"
### Describe the bug:
Both tracking instances are currently using the same names across events and some of the [code is shared](https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/abecaec0fd5542ced4e93374a79acbc8387dbc3b/includes/class-wc-google-analytics.php#L492). These event names are not what is stated in the current [documentation](https://developers.google.com/analyt

[2022-10-28 10:08] anastas10s-afk opened #234 "When "Add to Cart Events" option is checked, sends a 2nd gtag.js config event"
### Describe the bug:

Possible unintended behavior: When checking the “Add to Cart Events” setting, a 2nd/duplicate gtag.js config is added to all the site's pages. It is reported to be throwing warnings in all the debugging tools. Tested on clean, up-to-date installation.

### Steps to reproduce:

1. Create sandbox site on tastewp.com
2. Install + activate "WooCommerce" and "WooCommerce Google A

[2022-11-02 07:45] andreasaptum commented on #234
<site credentials removed>

[2022-11-04 19:09] martynmjones opened #237 "Uglify silently failing with latest version of Node"
### Describe the bug:
When building the extension Uglify fails to create the minified version of `assets/js/admin-ga-settings.js` without reporting an error. This was only noticed due to the SVN diff highlighting the file was missing when submitting to the .org repo.

### Steps to reproduce:
1. Clone repo
2. Run `nvm use node` to get the latest version
3. Run `npm i`
4. Run `npm run uglify`

### E

[2022-11-07 13:44] mikkamp commented on #234
Hi @anastas10s-afk,

The extra tracking snippet is coming from the WC Blocks implementation, so this is expected behaviour. As outlined in the [comment here](https://github.com/woocommerce/woocommerce-google-analytics-integration/issues/212#issuecomment-1015354526), it doesn't break tracking, it's just not efficient.

Besides it throwing warnings in the debug tools, are you aware of any circumstan

[2022-11-08 08:50] andreasaptum commented on #234
Hi @mikkamp. Thanks for the info.

The reason I was looking at this as an issue is that we are having trouble getting the purchases in GA4 and UA to match closely.

We have tried different approaches and settings, but the result is always that GA4 is missing between 5-18% of purchase events compared to UA. I would expect a closer match, and since duplicate code is something Google always warns abo

[2022-11-08 17:25] anastas10s-afk commented on #234
Thanks for clarifying further, @mikkamp. As expected, it is a "distant cousin" of #212. Haven't had an issue myself (with the plugin functioning incorrectly), but I went ahead with subscribing to the updates of #227 since I am interested in its progress. Does this mean that this issue can be closed now, also? Cheers!

[2022-11-08 17:30] mikkamp commented on #234
Thanks for the additional context. I'll go ahead and close this issue then since there isn't any action that's needed.

That's unfortunate to hear that you are registering less purchase events with GA4. I wouldn't be in a position to evaluate why that is so as there can be many factors involved. At the moment we don't have a suggested recommendation for tracking both UA and GA4. We are following t

[2022-11-08 17:30] #234 closed, assigned to nobody

[2022-11-09 10:20] martynmjones commented on #237
The issue here isn't with the version of Uglify but instead with the NPM script itself. `$npm_package_*` isn't available  in [NPM version 7+](https://github.com/npm/rfcs/blob/main/implemented/0021-reduce-lifecycle-script-environment.md) which is currently [being using by the build script](https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/4a579feba5c8ef44c47b6caba9f0bc711

[2022-11-11 16:48] #237 closed, assigned to nobody

[2022-11-11 19:21] Kovanija opened #239 "Tracking stopped after Woocommerce 7.1.0 update"
After I updated to WooCommerce 7.1.0 Google Analytics stopped tracking. I opened the "page source" to check if the UA- code is somewhere executed but I don't see any tracking JS active on the page, after the update.

Google Analytics doesn't receive any events. The page source doesn't show any JS GA tracking code active.

I tried to turn off/turn on the plugin but it didn't give any results.

[2022-11-11 20:18] #239 closed, assigned to nobody

[2022-11-22 16:18] strarsis commented on #215
@layoutd: But WooCommerce Google Analytics would work/continue working with the new Google Analytics 4, right?

[2022-11-23 11:36] layoutd commented on #215
Hi @strarsis, yes, GA4 will continue to be supported, but users still on Universal Analytics will be prompted to upgrade to GA4 (manually) or lose functionality.

[2022-11-29 21:31] martynmjones commented on #232
As this is not currently causing issues for merchants it will be left as is for now but may be revisited again at a later date.